@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'
@import '../../global_styles/schedule-mixins'

col_widths = (89px 34px 34px 34px 34px 34px 34px 34px 45px 31px 31px 31px 45px 31px 31px 31px 45px 29px)
_arrowColors = (color_brand_blue3 color_brand_blue9 color_brand_blue8)

#StartStrong30B2PopupSlide
	rowsPosition(5,17,(9 13 17),26,77,13)
	h1
		letter-spacing 0
		right 6px
	.figure-fragment
		margin $rem(20px) $rem(101px) 0 $rem(101px)
	.content-wrapper
		padding $rem(24px) $rem(35px) $rem(14px) $rem(35px)
	.schedule
		col
			setColWidth(col_widths)
	tbody
		tr
			td:first-of-type
				padding-right $rem(12px)
				text-align right
	tfoot
		tr
			for item, index in (10 15 18)
				td:nth-of-type({item})
					color _arrowColors[index]