mixin bigNumber(number, sign, customClass)
	- var numberValue = number || '', sign = sign || '', customClass = customClass || ''
	- if (sign) numberValue += '<span>' + sign + '</span>'
	p.big-number(class=customClass || '') !{numberValue}