include skew

mixin setGraphLines(linesArray, customClasses)
	-var customClasses = customClasses || ''
	.g-lines
		each line, index in linesArray
			.g-line
				.g-line-info
					if line.value
						+skewText(line.value)(class = customClasses[index] ? customClasses[index] : '').g-line-value
							if line.additional
								+skewText(line.additional).g-line-additional
					if line.name
						p.g-line-name !{line.name}