mixin setColumnsBars(nestArray, colorsList)
   each nest, indexNest in nestArray
      .g-bar-nest
         - var colorNestList = colorsList || ''
         +_barGenerator(nest, colorNestList, isLineIndicate)
         if nest.name
            p.g-nest-name !{nest.name}

mixin _barGenerator(nest, colorNestList)
   each value, indexBar in nest.values
      .g-bar(class=colorNestList[indexBar] || '')
         if value
            p.g-bar-value !{value}