include graph-axis

mixin graph(graph, legendColors, isHiddenVLabel, isHiddenHLabel)
	- var legendColors = legendColors || ''

	figure.figure-fragment.graph-fragment&attributes(attributes)
		figcaption !{graph.caption}
			span.pointer-label
		.content-wrapper
			figure.graph
				+setAxis(graph.v_caption, 0, graph.v_scale.length - 1, 1, graph.v_scale, isHiddenVLabel || false).g-scale-v
				+setAxis(graph.h_caption, 0, graph.h_scale.length - 1, 1, graph.h_scale, isHiddenHLabel || false).g-scale-h
				.g-content
					if graph.graph_blocks
						.graph-blocks
							each block in graph.graph_blocks
								.block
									p !{block}
					block
					if graph.point_values
						.point-values
							each point in graph.point_values
								if point.value
									p !{point.value}
									+skewText(point.efficacy_value).point-description
										+skewText(point.additional).point-additional
								else
									p !{point}
		if graph.legend
			ul.g-legend
				each li, index in graph.legend
					li(class = legendColors[index]) !{li}