include ../pug_fragments/linear-slider

mixin newTreatmentParadigm(header, value, text)
	- var _value = value || '', _text = text || ''
	
	if _value
		h2.content-caption !{globals.discussion_figcaption}
	.paradigma-wrapper
		.paradigma
			.shaped
			p !{_text}
		if slider_value
			+linear-slider(slider_value)
