
-  var $imageItem = 0

mixin productsLine(text,elemArray,bottles)
   .content
      h2.sub-header !{text.lead_paragraph}
      figure
         .description
            p.product-name !{text.product_name}
            p.caption !{text.caption}
         .graph
            .items
               each item, index in text.products
                  if item
                     .item-text
                        +arrowMixin(item)
                     if bottles > $imageItem
                        .item-image
                           p.top-text !{text.top_description[$imageItem]}
                           p.bottom-text !{text.bottom_description[$imageItem]}
                        - $imageItem++
            ul.dashed-lines
               each item in Array(elemArray)
                  li