mixin uniqueMoaScheme(data,state)
	.scheme-wrapper(class=state)
		each r in data.rows
			if r.items.length == 1
				.row-item
					p.row-text !{r.items[0]}
			else
				.row-wrapper
					each item in r.items
						.row-item
							p.row-text !{item}
		.additional-wrapper
			each additionalItem in data.additional.items
				figure
					figcaption !{additionalItem}
			if data.additional.text
				p.additional-text !{data.additional.text}
		if data.additional.state
			.state-wrapper
				.top-texts
					each topText in data.additional.state.top_texts
						p.state-text !{topText}
				.middle-texts
					each middleText in data.additional.state.middle_texts
						p.mid-text !{middleText}
				p.bottom-text !{data.additional.state.bottom_text}