- var monitoringNames = ["DRSS_EyleaStartStayUnique_State2_Slide", "DRSS_EyleaStartStayUnique_State3_Slide", "DRSS_EyleaStartStayUnique_State4_Slide"]

article.slide#Eylea20Slide
	.wrapper
		.sections
			each section, index in sections
				section
					.blending
					.main-info
						.content
							h1 !{section.title}
							.sub-texts
								each text in section.subTexts
									p !{text}
							button.show-description.arrow-btn.right(data-name=monitoringNames[index])
					.description
						.content
							.shape
							p !{section.description}