@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#StartStrong35A4PopupSlide
	h1
		right 6px
	.chapter-criteria-list
		margin $rem(24px) $rem(125px) $rem(0) $rem(73px)
		dt
			margin-top 1.95rem
			text-transform uppercase
			&:first-of-type
				margin-top 0
		dd
			line-height 1.2