@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

_scaleMargins = ($rem(12px) $rem(26px) $rem(27px) $rem(92px) $rem(172px) $rem(159px))

_setScaleMargins()
	&
		for margin, index in _scaleMargins
			li:nth-of-type({index + 1})
				margin-right $rem(margin)

#StayStrong40C2PopupSlide
	padding-top $rem(10px)

	h1
		margin-right $rem(114px)

	.lead-paragraph
		padding-left $rem(100px)
		font 400 $rem(13px) / 1.15 Arial
		letter-spacing $rem(.1px)

	.figure-fragment
		margin 1.4em 6.3rem 1em 6.25rem

	.content-wrapper
		padding $rem(73px) $rem(237px) $rem(40px) $rem(98px)

	.graph
		height $rem(205px)

	.g-scale-v
		&:before
			margin-right $rem(44px)
		.g-scale-label
			padding-bottom $rem(44px)

	.g-line
		&:first-of-type
			background url(assets/images/line1.png) $rem(6px) 6% / 98.7% auto no-repeat
			.g-line-info
				top $rem(81px)
		&:last-of-type
			background url(assets/images/line2.png) $rem(2px) 4% / 99.5% auto no-repeat
			.g-line-info
				top $rem(144px)
			.g-line-value:after
				background url(../../shared/images/dme_vista_logo.png) 50% 50% / auto 100% no-repeat

	.g-scale-h
		ul
			justify-content flex-start
		_setScaleMargins()