@import '../../global_styles/color-scheme'
@import '../../global_styles/oblique-tile'

cols = 305 425

_setCols()
	for col, index in cols
		col:nth-of-type({index+1})
			width $rem(unit(col, px))

#Eylea50Slide
	padding-top $rem(58px)
	h1
		margin-bottom $rem(14px)
		line-height 1.2
		font-size $rem(37.5px)
		letter-spacing $rem(1.5px)
	.lead-paragraph
		margin-bottom $rem(13px)
		padding-left $rem(51px)
		font-size $rem(22px)
		letter-spacing $rem(.2px)
		small
			font-size $rem(18px)
			letter-spacing 0
			line-height 2
			color color_brand_gray4
	.content-wrapper
		padding $rem(11px) 0
	.graph-wrapper
		padding $rem(25px) 0 $rem(26px) 0
	table
		margin 0 0 $rem(24px) $rem(100px)
		_setCols()
		td
			padding-left $rem(4px)
			font-weight 400
	tbody
		th
			padding $rem(4px) 0 0 $rem(10px)
			font-size $rem(14.5px)
			letter-spacing $rem(.5px)
			white-space nowrap
	.oblique-tile
		obliqueTile(1, true)
		margin 0 $rem(197px) 0 $rem(39px)
		padding $rem(14px) 0 $rem(11px) $rem(61px)
		&:before
			background-image linear-gradient(to right, transparent 10%, rgba(color_brand_blue, .5) 35%, color_brand_blue 82%)
			border-width $rem(1px)
			transform-origin top
		p
			position relative
			padding 0 0 0 $rem(10px)
			font-size $rem(17px)
			text-align left
			letter-spacing $rem(-.1px)
			&:before
				content ''
				width $rem(4px)
				height @width
				border-radius 50%
				position absolute
				left 0
				top $rem(9px)
				background-color color_brand_white
		strong
			letter-spacing 0