
<article class="slide" id="Eylea50Slide">
  <h1>AN ESTABLISHED SAFETY PROFILE<br> FROM EXTENSIVE CLINICAL EXPERIENCE</h1>
  <p class="lead-paragraph">MOST FREQUENTLY OBSERVED ADVERSE REACTIONS<sup data-reference-id='eylea'></sup> <br><small>(in &geq;5% of patients treated with EYLEA<sup>&reg;</sup>)</small></p>
  <div class="content-wrapper">
    <div class="graph-wrapper">
      <table class="table-global">
        <colgroup>
          <col/>
          <col/>
        </colgroup>
        <thead>
          <tr>
            <th data-ag-editable="value-th01">ADVERSE EVENT</th>
            <th data-ag-editable="value-th02">FREQUENCY</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th data-ag-editable="value-th01">CONJUNCTIVAL HAEMORRHAGE</th>
            <td data-ag-editable="value-td02">25%</td>
          </tr>
          <tr>
            <th data-ag-editable="value-th01">REDUCED VISUAL ACUITY</th>
            <td data-ag-editable="value-td02">11%</td>
          </tr>
          <tr>
            <th data-ag-editable="value-th01">EYE PAIN</th>
            <td data-ag-editable="value-td02">10%</td>
          </tr>
          <tr>
            <th data-ag-editable="value-th01">CATARACT</th>
            <td data-ag-editable="value-td02">8%</td>
          </tr>
          <tr>
            <th data-ag-editable="value-th01">INCREASED INTRAOCULAR PRESSURE</th>
            <td data-ag-editable="value-td05">8%</td>
          </tr>
          <tr>
            <th data-ag-editable="value-th01">VITREOUS DETACHMENT</th>
            <td data-ag-editable="value-td02">7%</td>
          </tr>
          <tr>
            <th data-ag-editable="value-th01">VITREOUS FLOATERS</th>
            <td data-ag-editable="value-td02">7%</td>
          </tr>
        </tbody>
      </table>
      <div class="oblique-tile">
        <p>SINCE LAUNCH, <strong>10 MILLION VIALS</strong> ADMINISTERED WORLDWIDE<sup data-reference-id='data'></sup></p>
        <p><strong>3102 PATIENTS</strong> FROM <strong>EIGHT PHASE III</strong> STUDIES ARE INCLUDED IN THE EYLEA<sup>&reg;</sup> SAFETY POPULATION<sup data-reference-id='eylea'></sup></p>
      </div>
    </div>
  </div>
</article>