@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#RI_Quiz_5
	.paradigma-wrapper
		padding-top $rem(162px)
		height auto
		display flex
		.paradigma
			width 100%
			p
				color #265773
				text-align center
				margin-bottom $rem(90px)
				font-size $rem(45px)
				line-height $rem(58px)
				font-family Arial
				font-weight 400
				letter-spacing $rem(-0.3px)
				span
					color #ffd200
					font-weight 700
					letter-spacing $rem(0px)
		.linear-slider
			margin-top $rem(0px)
			padding-right $rem(50px)
			padding-bottom $rem(10px)
			p
				color #265773
