#ahRefsNotesPopup
	opacity 0
	pointer-events none
	transition opacity .3s
	&.state-show
		opacity 1
		pointer-events auto
	.x
		z-index 2
	.scroll-element
		padding-bottom 10px
	.notes
		counter-reset counter
		li
			position relative
			padding 10px 0 10px 140px
			border-bottom 1px solid gray
			line-height 23pt
			&:before
				position absolute
				left 88px
				counter-increment counter
				content  "[ "counter(counter, lower-alpha) " ]"
	.refs-wrapper
	/.notes-wrapper
		&.disable
			display none
*[data-reference-id]
*[data-notes]
	border solid 20px transparent
	margin-left -20px
	margin-right -20px
