@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#RecentInsights11Slide
	.paradigma
		p
			margin-bottom $rem(114px)
			padding-left $rem(43px)
			font 400 $rem(28px) / 1.25 Arial
			letter-spacing $rem(-.4px)
			span
				for $position in 1..2
					&:nth-of-type({$position})
						$padding = 30-(10*$position)
						padding-left $rem(unit($padding,px))
	.linear-slider
		padding-right $rem(50px)
		padding-bottom $rem(10px)
