@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'
@import '../../global_styles/oblique-tile'

#UniqueMoA50A6PopupSlide
	padding-top $rem(25px)
	h1
		margin-right $rem(107px)
		height $rem(67px)
		font-size $rem(18px)
		line-height $rem(22px)
		letter-spacing 0
		span
			color color_brand_yellow
	.oblique-tile
		margin 10px 200px 0 $rem(-10px)
		obliqueTile(1, true, color_brand_yellow)
		p
			position relative
			z-index 1
			padding $rem(17px) $rem(28px) $rem(14px) 0
			color color_brand_yellow
			letter-spacing $rem(.1px)
			font-weight 700
		&:before
			background linear-gradient(to right, color_brand_blue2, color_brand_blue1)