@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#StartStrong35B1PopupSlide
	h2
		font-size $rem(13px)
		margin $rem(10px) 0 0 $rem(50px)
	h1
		margin $rem(11px) $rem(114px) $rem(22px) 0

	.figure-fragment
		margin 0 $rem(101px) 0 $rem(100px)
	.content-wrapper
		padding $rem(73px) $rem(262px) $rem(42px) $rem(72px)

	.graph
		height $rem(205px)
		.g-scale-v
			&:before
				margin-right $rem(43px)
			p
				padding-bottom $rem(44px)
			li
				white-space nowrap
		.g-scale-h
			p
				padding-right 0
		.g-lines
			.g-line-value
				margin-right $rem(17px)
			.g-line-name
				font-size $rem(18px)
			.g-line
				&:first-of-type
					background url("assets/images/line.png") $rem(2px) 10%/501px auto no-repeat
					background-size $rem(501px)
					.g-line-info
						top $rem(179px)
						left $rem(503px)