@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#HomePageSlide
	padding $rem(128px) 0 0 $rem(53px)
	background url(assets/images/cover_bg.png) center / 100% auto no-repeat
	img
		position absolute
		top $rem(25px)
		right $rem(16px)
		height $rem(45px)
	h1
		position relative
		padding 0
		color color_brand_yellow
		letter-spacing $rem(-3px)
		font 600 $rem(121px) / .82 Arial
		-webkit-text-stroke 2px color_brand_blue
		small
			position absolute
			bottom $rem(-23px)
			left $rem(3px)
			font-size $rem(47px)
			color color_brand_blue
			letter-spacing $rem(-1.1px)
			-webkit-text-stroke-color transparent
			&:nth-of-type(1)
				bottom $rem(58px)
			&:nth-of-type(2)
				top $rem(198px)
				left $rem(300px)
		span
			padding-left $rem(224px)
			font inherit
	.approval-number
		position absolute
		top $rem(711px)
		left $rem(52px)
		font-size $rem(11px)
		color color_brand_white
		opacity .3
