@import "../../../global_styles/color-scheme"

$color_yellow = #ffd200

.ah-bottom-inline-sidebar
	position absolute
	top 94.5%
	left 50%
	transform translate3d(-50%, 0, 0)
	z-index 2
	ul
		display flex
		justify-content space-between
		flex-wrap nowrap
		flex-direction row
		li
			list-style none
			width 16px
			height 16px
			border-radius 50%
			margin 0 4px
			background-color transparent
			border 1px solid $color_yellow
		.active
			background-color $color_yellow

.wrapper-inline-indication
	pointer-events auto
	&.hide
		opacity 0
	.disable
		opacity 0
		pointer-events none
		li
			display none