@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#Discussion61Slide
	.paradigma
		height $rem(120px)
		width $rem(608px)
		margin-bottom $rem(91px)
	.shaped
		shape-outside polygon(0 0, 100% 0%, 60% 100%, 0% 100%)
	.linear-slider
		margin-right $rem(51px)
	.text-wrapper
		width 93.5%