@import "../../../global_styles/color-scheme"
@import "../../../global_styles/utils"
@import '../../../global_styles/oblique-tile'

$color_yellow = #ffd200
$color_text = #80A2B2

.ah-top-inline-sidebar
	position absolute
	top $rem(136px)
	left -10px
	obliqueTile(1, true, color_blizzard_blue)

	margin-top $rem(8px)
	width 92%
	height $rem(32px)
	z-index 2
	&:before
		border-image linear-gradient(to right, rgba(color_blizzard_blue, 0.8) , color_blizzard_blue)
		border-image-slice 1
	nav
		display flex
		justify-content left
		flex-wrap nowrap
		flex-direction row
		button
			position relative
			padding $rem(5px) $rem(25px)
			height $rem(32px)
			text-transform uppercase
			color $color_text
			background-color transparent
			transform translate3d(0, 0, 0)
			font 700 $rem(12px) / 1 Arial
			&:after
				content ""
				position absolute
				left 100%
				width $rem(1px)
				top $rem(8px)
				height $rem(16px)
				background rgba(color_blizzard_blue, 0.3)
			&:first-of-type
				padding-left 0
			&:last-of-type
				padding-right 0
				&:after
					content none
		.active
			color $color_yellow
	.inline-menu
		padding-left $rem(110px)
	&.hide
		display none

.wrapper-inline-indication
	pointer-events auto
	&.hide
		opacity 0
	.disable
		opacity 0
		pointer-events none
		li
			display none

.inline-slideshow .viewport .inline-slideshow-wrapper.menu-indicator
	top $rem(95px)