@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'
@import '../../global_styles/oblique-tile'
@import '../../global_styles/skew'
$colors = (color_brand_yellow color_brand_goldenrod) (color_brand_blue9 color_brand_blue) (rgba(color_brand_blue13, 0.6) color_brand_blue13)
$setArrowStyles($colors)
	clip-path polygon(100% 50%, 90% 100%, 0 100%, 0 0, 90% 0)
	background-color color_brand_white
	&:before
		clip-path polygon(100% 50%, 90% 100%, 0 100%, 0 0, 90% 0)
		background linear-gradient(to right, $colors[0], $colors[0] 24%, $colors[1] 87%, $colors[1])

$setLabelStyles($color)
	background linear-gradient($color, $color) center / 100% $rem(2px) no-repeat
	&:after
	&:before
		background-color $color
	.skew
		$skew({padding: 5px 11px,background_color: $color,degree: 20deg,text_color: color_brand_blue})

#StayStrong41Slide
	.content-wrapper
		padding $rem(65px) 0
	.graph-wrapper
		padding $rem(28px) 0
		margin-bottom $rem(98px)
		&:after
		&:before
			background-image linear-gradient(to right, rgba(color_brand_yellow, 0.3), rgba(color_brand_white, 0) 25%, rgba(color_brand_white, 0) 75%, rgba(color_brand_yellow, 0.3) 100%)
	h2
		margin-bottom $rem(50px)
	.row
		display flex
		justify-content center
		align-items stretch
		flex-direction row-reverse
		margin 0 $rem(62px)
	.arrow-wrapper
		min-height $rem(156px)
		flex-basis 33%
		position relative
		display flex
		justify-content center
		margin-left $rem(-31px)
		padding-left $rem(31px)
		flex-direction column
		&:before
			content ""
			position absolute
			top $rem(2px)
			right $rem(2px)
			bottom $rem(2px)
			left $rem(2px)
		for $color, index in $colors
			&:nth-of-type({index+1})
				$setArrowStyles($color)
		p
			position relative
			padding $rem(16px)
			color color_brand_white
			font-size $rem(27px)
			font-weight 700
			line-height 1.2
			small
				font-size 65%
				font-weight 400
				display block
		&:last-of-type
			margin-left 0
			padding-left $rem(16px)
		&:first-of-type
			small
				display inline-block
	.labels-wrapper
		padding 0 $rem(82px) $rem(12px) $rem(52px)
		justify-content space-between
		.column
			position relative
			text-align center
			&:first-of-type
				flex-basis 30%
				$setLabelStyles(color_brand_yellow)
			&:last-of-type
				flex-basis 65.5%
				$setLabelStyles(color_blizzard_blue)
			&:after
			&:before
				content ""
				height $rem(8px)
				width $rem(2px)
				position absolute
				top 50%
				transform translate3d(0, -50%, 0)
			&:before
				left 0
			&:after
				right 0
			p
				font-weight 700
				text-transform uppercase
			.skew
				display inline-block
	.oblique-tile
		obliqueTile(1, true)
		margin $rem(31px) $rem(217px) 0 0
		p
			position relative
			padding $rem(15px) $rem(21px)
			color color_brand_yellow
			font-weight 700
			font-size $rem(21px)
			letter-spacing $rem(-0.05px)
			text-transform uppercase
		&:before
			background linear-gradient(to left, rgba(color_brand_blue, 0.9), rgba(color_brand_blue, 0))
			border-left-width 0
	.wrap-open-popup
		margin-left $rem(50px)
		p
			font-weight 700
			font-size $rem(18px)
			letter-spacing 0
	.open-popup
		margin-left $rem(20px)