@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#UniqueMoA50A4PopupSlide
	padding-top $rem(25px)
	h1
		margin-right $rem(107px)
		height $rem(67px)
		font-size $rem(18px)
		line-height $rem(22px)
		letter-spacing 0