@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'
@import '../../global_styles/table-mixin'
$pLeftIds = 5 6 7 8
#StartStrong34A3PopupSlide
	h1
		right 6px
	.table-global
		margin $rem(25px) auto 0 $rem(249px)
	tbody
		setPaddingLeft($pLeftIds)
		th
		td
			padding $rem(9px)
	thead
		th
			padding $rem(12px) $rem(11px)