@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'
@import '../../global_styles/study-design-common'

#StartStrong34A1PopupSlide
	h1
		right 6px
	.diagram-header
		margin-left $rem(155px)
		margin-bottom $rem(10px)
	.schema-wrapper
		margin-top $rem(22px)
		@extend commonStyles
		.schema
			position relative
			justify-content flex-start
		.column
			&:first-of-type
				position absolute
				top 0
				left 0
				.diagram-billet-block
					padding 0 $rem(3px)
					background-image linear-gradient(to right, rgba(color_brand_white, 0) 0%, rgba(color_brand_white, 1) 70%)
					.diagram-billet
						background url(assets/images/image1.png) no-repeat right center \/ $rem(63px) auto
				.diagram-billet-text
					padding 0 $rem(7px) 0 0
					text-align right
			&:last-of-type
				margin-left $rem(100px)
		.row-item
			width $rem(274px)
			&:after
				line($rem(2px), $rem(9px), auto, 100%)
				margin-bottom $rem(5px)
			&:nth-of-type(2)
				&:after
				&:before
					height $rem(15px)
		.row-item-list
			width $rem(290px)
			left $rem(-3px)
		.row
			&:after
				line($rem(547px), $rem(2px), 100%, auto)
			&:nth-child(1)
				.row-item:after
					display none
			&:nth-child(2)
				justify-content space-between
				.row-item
					&:before
						line($rem(2px), $rem(9px), 100%, auto)
						margin-top $rem(7px)
					&:nth-of-type(2)
						&:before
							height $rem(15px)
			&:nth-child(3)
				margin-top $rem(17px)
				padding-bottom $rem(18px)
				.row-item
					width 100%
					font-size $rem(13px)
					&:after
						height $rem(16px)
						margin-bottom $rem(7px)
				&:before
					line($rem(547px), $rem(2px), auto, 100%)
			&:nth-child(4)
				padding-top $rem(20px)
				align-items flex-start
				&:after
					display none
				.row-item
					font-size $rem(13px)
					&:after
						margin-bottom $rem(11px)
					&:nth-child(2)
						font-size $rem(16px)