@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'
@import '../../global_styles/marked-lines'

_markedArray = (0 10 22 34 44)

#StayStrong41A4PopupSlide
	h1
		margin-right 111px
		height $rem(70px)
		letter-spacing $rem(-.1px)
		line-height 1.2
	h2
		letter-spacing 0
		line-height 1.2
		color color_blizzard_blue
	figure
		padding $rem(78px) $rem(57px)
	.items
		padding-left $rem(8px)
	.item-image
		&:nth-of-type(2)
			margin 0 $rem(12px) 0 $rem(6px)
		&:nth-of-type(4)
			margin 0 $rem(9px) 0 $rem(9px)
		&:nth-of-type(6)
			margin 0 $rem(2px) 0 $rem(12px)
	.item-text
		&:nth-of-type(7)
			.arrow-box
				padding $rem(5px) 0 $rem(5px) $rem(9px)
	.product-name
		padding $rem(19px) $rem(60px) 0 0
	.dashed-lines
		margin $rem(15px) $rem(144px) 0 $rem(1px)
		markedLines(_markedArray)