@import 'color-scheme'
@import 'utils'
@import 'oblique-tile'

$inactiveBHCButton
	pointer-events none
	opacity .2

.ap-toolbar h1
.ap-toolbar h2
	font-size 1.25em
.accelerator [data-module="ap-media-library"] input
	font-size 13pt
figure
	margin 0
button
	padding 0
input
button
li
div
	-webkit-tap-highlight-color rgba(0, 0, 0, 0)
sup
	position initial
	vertical-align super
	font-size 60%

.eylia-logo
	background color_brand_white url(../../shared/images/logo.png) 0 0 / cover no-repeat
	position absolute
	bottom $rem(22px)
	right $rem(23px)
	z-index 1
	width $rem(161px)
	height $rem(44px)

#slideshows
	background url(../../shared/images/background.png) 0 0 / cover no-repeat
	&:after
		content ''
		width $rem(525px)
		height $rem(138px)
		position absolute
		right $rem(-45px)
		bottom $rem(-65px)
		background-color color_brand_white
		z-index 11
		transform rotate(-16deg)
		pointer-events none

.accelerator
	.slides
		text-align left
		/.slide
		> .slide
		> .slide.stack
			padding $rem(62px) 0 0 0

#overlay-popup-custom
.inline-slideshow-wrapper
	.slide
		h1
			obliqueTile(1, true, popup_header_gradient)
			color white
			&:before
				border-image linear-gradient(to right, popup_header_gradient, popup_header_gradient)
				border-image-slice 1
				left -30px
	& + #slideIndicator
		display-none
.slide
	color color_brand_white
	font-family Arial

	&.blue
		.top-global-text
			color color_brand_blue
	h1
	.lead-text
		margin 0 0 $rem(12px) 0
		padding 0 $rem(50px)
		font 700 41px / 1 Arial
		color color_brand_yellow
		letter-spacing $rem(.5px)
		text-transform uppercase
		sup
			text-transform lowercase
	h2
	.lead-paragraph
		margin 0 0 $rem(12px) 0
		padding-left $rem(50px)
		text-transform uppercase
		font 400 $rem(23px) / 1.2 Arial
		letter-spacing $rem(.4px)
		sup
			text-transform lowercase

	h3
	.sub-lead-paragraph
		position relative
		width 853px
		padding $rem(7px) 0 $rem(4px) $rem(50px)
		font 400 $rem(18px) / 1.2 Arial
		color color_brand_blue3
		background color_brand_blue10
		z-index 1
		&:after
			content ''
			position absolute
			display block
			width 100%
			height 100%
			top 0
			left 0
			z-index -1
			transform-origin bottom left
			transform skew(-30deg, 0deg)
			border-right 300px solid color_brand_blue10
		b, strong
			font-weight 700
			color color_brand_blue3
	.content-wrapper
	.graph-wrapper
		position relative
		&:after
		&:before
			content ''
			width 100%
			left 0
			height $rem(1px)
			position absolute
		&:after
			top 0
			background-image content_wrapper_gradient
		&:before
			bottom 0
			background-image content_wrapper_gradient2
	.content-wrapper
		background linear-gradient(to right, rgba(color_blizzard_blue, .25), rgba(color_brand_blue1, .25))
	.graph-wrapper
		background-image graphBg_wrapper_gradient
		&:after
		&:before
			background-image graph_wrapper_gradient
			height $rem(2px)
	mark
		color color_brand_yellow
		font-weight 700
		background-color transparent
	.big-number
		font 700 $rem(44px) / 1 Arial
		color color_brand_blue
		&.gold
			color transparent
			background gold_number_gradient
			background-clip text
			-webkit-background-clip text
			span
				color color_brand_yellow
				font-size $rem(30px)

.wrap-open-popup
	position relative
	display flex
	p
		font-size $rem(19px)
		letter-spacing $rem(.3px)

.arrow-btn
	position relative
	width $rem(47px)
	height @width
	border $rem(1px) solid color_brand_yellow
	border-radius 50%
	&:after
		content ''
		position absolute
		border inherit
		border-radius inherit
		top 0
		bottom 0
		left 0
		right 0
		margin $rem(2px)
	&.left
		&:after
			background url(../../shared/images/left_arrow.png) center center / 35% no-repeat
	&.left.gold
		&:after
			background url(../../shared/images/left_arrow_gold.png) center center / 35% no-repeat
	&.right
		&:after
			background url(../../shared/images/right_arrow.png) center center / 35% no-repeat
	&.minus
		&:after
			background url(../../shared/images/minus.png) center center / 50% no-repeat
	&.plus
		&:after
			background url(../../shared/images/plus.png) center center / 50% no-repeat
	&.minus-white
		border-color color_brand_white
		&:after
			border-color inherit
			background url(../../shared/images/minus_white.png) center center / 50% no-repeat
	&.open-popup
	&.plus-white
		border-color color_brand_white
		&:after
			border-color inherit
			background url(../../shared/images/plus_white.png) center center / 50% no-repeat
	&.open-popup
		width $rem(32px)
		height @width
		top 50%
		margin-left $rem(10px)
		transform translateY(-25%)
		&:after
			margin $rem(1px)
	&.double
		&:after
			background url(../../shared/images/double_arrows_blue.png) center center / 80% no-repeat



.oblique-tile
	position relative
	p
		width 100%
		padding $rem(21px) $rem(27px) $rem(21px) 0
		text-align right
		letter-spacing $rem(.9px)
		color color_brand_white
		font 700 $rem(19px) / 1.3 Arial
		b, strong
			color color_brand_yellow

.special-label
	display inline-block
	position relative
	font 700 $rem(15px)/1 Arial
	color color_brand_yellow
	&:before
		content ''
		position absolute
		width $rem(66px)
		height $rem(25px)
		right 100%
		top 50%
		background url(../../shared/images/label.png) center/100% auto no-repeat
		transform translate3d(-12%, -55%, 0)

.diagram-header
	position relative
	display flex
	min-height 2.11rem
	padding-left 4.875rem
	align-items center
	font 700 15px / 1.15 Arial
	color color_brand_yellow
	.pointer-label
		top 4px

.pointer-label
	left 0
	height 1.55rem
	width 4.2rem
	border-left .07rem solid color_brand_white
	overflow hidden

	&:after
		content ''
		right 0
		background-color color_brand_yellow
		width 100%
		height @width
		transform-origin top left
		transform skew(-45deg) translate3d(0, 0, 0)
		border .07rem solid color_brand_white

	&
	&:after
		position absolute
		top 0

.linear-animation [data-module="ap-slide-indicator"] .joystick .down
.linear-animation [data-module="ap-slide-indicator"] .joystick .up
	display: none !important

#overlay-popup-custom ~ [data-module="ap-slide-indicator"]
.state-ag-overlay-open ~ [data-module="ap-slide-indicator"]
	opacity 0
	transform translate3d(0, 0, 0)

#presentation.accelerator div.auto-references-popup-overlay
	z-index 12

[data-module="ap-toolbar"] .ap-toolbar > .bar
	.button[data-module-to-load="ap-frequently-asked-questions"]
	.button[data-module-to-load="ah-media-library"]
	.button[data-module-to-load="ap-follow-up-mail"]
		@extend $inactiveBHCButton

.aButtons
	display flex
	justify-content space-around
