@import "color-scheme"

pseudoElement
	content ''
	position absolute
	left 0

.chapter-criteria-list
	dt
	dd
		position relative

	.term-label
		display block
		position absolute
		left 0
		height .75rem
		width @height + 0.5rem
		border-left .07rem solid color_brand_white
		overflow hidden
		top .22rem

		&:after
			@extends pseudoElement
			right 0
			background-color color_brand_yellow
			width 100%
			height @width
			transform-origin top left
			transform skew(-45deg) translate3d(0, 0, 0)
			border .07rem solid color_brand_white

	dt
		margin 2.69rem 0 .81rem 0
		padding-left 1.875rem
		font 700 1.06rem / 1.2 Arial
		color color_brand_yellow
		&:first-of-type
			margin-top 0

	dd
		margin-left 1.8125rem
		padding-left 1.188rem
		font 400 1rem / 1.45 Arial
		color color_brand_white
		&:before
			@extends pseudoElement
			top 0.563rem
			width 0.25rem
			height @width
			border-radius 50%
			background-color color_brand_white