@import 'color-scheme'
@import 'utils'

obliqueTile(padding, before = false, color = false || color_brand_yellow)
	span
		for num in padding
			_padding = $rem(7px)
			&:nth-of-type({num+1})
				padding-right _padding * num
	if before and color
		&:before
			content ''
			position absolute
			border $rem(2px) solid rgba(color_brand_white, 0.1)
			border-image linear-gradient(to right, rgba(color_brand_white, 0) , color)
			border-image-slice 1
			right 0
			top 0
			left 0
			bottom 0
			transform skew(-18deg) translate3d(0,0,0)
			box-shadow 0 0 1px rgba(255,210,0, 0)