@import 'color-scheme'
@import 'utils'

$iterate(obj)
	for key, value in obj
		if value
			{key}: value

$skew(paramsObj)
	params = {
		block: {
			'width': paramsObj['width'] || '',
			'padding': paramsObj['padding'] || '',
			'border': paramsObj['border_width'] && paramsObj['border_color'] ? paramsObj['border_width'] solid paramsObj['border_color'] : '',
			'background-color': paramsObj['background_color'] || '',
			'transform': skew(-(paramsObj['degree'])) || ''
		}
		text: {
			'color': paramsObj['text_color'] || '',
			'transform': skew((paramsObj['degree'])) || ''
		}
	}

	&
		$iterate(params['block'])
		p
			$iterate(params['text'])