@import 'color-scheme'
@import 'utils'

_setLines(linesProps)
	&
		for line, index in linesProps
			.g-line
				&:nth-of-type({index + 1})
					background: line.path line.positionX line.positionY \/ line.sizeX line.sizeY no-repeat

_stylesFragment
	padding-top $rem(10px)

	.lead-paragraph
		padding-left $rem(100px)
		font 400 $rem(13px) / 1.15 Arial
		letter-spacing $rem(.1px)

	h1
		height $rem(68px)
		margin-right $rem(120px)
		line-height 1.15
		text-transform none

	.figure-fragment
		margin 1.4em 6.3rem 1em 6.25rem

	.graph
		height $rem(176px)
		.block
			&:first-of-type
				width 39%
				background-color transparent
			&:last-of-type
				width 61%
				background-color rgba(color_brand_yellow, .2)
				p
					background-color rgba(color_brand_yellow, .3)
		.g-line
			&:first-of-type
				.g-line-info
					top $rem(29px)
				.g-line-value:after
					background url("../../shared/images/dme_vista_logo.png") 50% 50% / auto 100% no-repeat
			&:last-of-type
				.g-line-info
					top $rem(167px)