/*
DEFINE YOUR GLOBAL STYLES AND INCLUDE your TTF/WOFF/EOT FILES IN THIS CSS TO BE INCLUDED GLOBALLY

Classification fonts for font-weight:
	100 - Thin
	200 - Extra Light (Ultra Light)
	300 - Light
	400 - Normal
	500 - Medium
	600 - Semi Bold (Demi Bold)
	700 - Bold
	800 - Extra Bold (Ultra Bold)
	900 - Black (Heavy)

Example of connect font:

$setFont('Helvetica', 'Helvetica.ttf', 'truetype', 500, italic)
$setFont('Helvetica', 'Helvetica.woff', 'woff', 700, normal)

*/

$relativePath = 'assets/fonts/'

$setFont(_name, _src, _format, _weight = 400, _style = normal)
	@font-face
		font-family _name
		src url($relativePath + _src) format(_format)
		font-style _style
		font-weight _weight