@import 'color-scheme'
@import 'utils'

setBgImg(img)
	background url("../../shared/images/scheme/" + img) no-repeat 0 0 / 100% 100%

pseudoElements()
	content ''
	position absolute

.unique-moa-scheme
	.row-text
		font 700 $rem(15px) / 1 Arial
		color color_brand_white
		z-index 1
	.scheme-wrapper
		position relative
		margin-top $rem(25px)
		display flex
		flex-direction column
		align-items center
		> .row-item
			&:nth-of-type(3)
			&:nth-of-type(2)
			&:nth-of-type(1)
				&:after
					pseudoElements()
					top $rem(42px)
			&:nth-of-type(2)
			&:nth-of-type(1)
				&:after
					left 50%
					width $rem(5px)
					height $rem(18px)
					setBgImg("arrow-down-blue.png")
			&:nth-of-type(1)
				width $rem(172px)
				margin-bottom $rem(17px)
			&:nth-of-type(2)
				width $rem(590px)
				margin-bottom $rem(17px)
			&:nth-of-type(3)
				width $rem(172px)
				margin-bottom $rem(125px)
				&:after
					left $rem(-115px)
					width $rem(408px)
					height $rem(35px)
					setBgImg("arrow-down-blue-double.png")
			&:nth-of-type(5)
				width $rem(328px)
				&:after
					pseudoElements()
					top $rem(-34px)
					left $rem(-37px)
					width $rem(408px)
					height $rem(34px)
	.row-item
		position relative
		display flex
		justify-content center
		align-items center
		height $rem(42px)
		&:before
			pseudoElements()
			border $rem(2px) solid color_brand_yellow
			right 0
			top 0
			left 0
			bottom 0
			transform skew(-18deg) translate3d(0, 0, 0)
	.row-wrapper
		display flex
		justify-content space-between
		width $rem(668px)
		margin-bottom $rem(34px)
		.row-item
			width $rem(261px)
	.additional-wrapper
		position absolute
		bottom 44%
		left 32.5%
		display flex
		justify-content space-between
		width $rem(358px)
	figure
		margin 0
		position relative
		&:nth-of-type(1)
			figcaption
				&:before
					top $rem(-16px)
					right $rem(45px)
					width $rem(38px)
					setBgImg("vegf.png")
			&:after
				left $rem(-24px)
		&:nth-of-type(2)
			figcaption
				&:before
					top $rem(-14px)
					left $rem(40px)
					width $rem(33px)
					setBgImg("pgf.png")
			&:after
				right $rem(-30px)
			&:before
				pseudoElements()
				top $rem(19px)
				width $rem(244px)
				height $rem(56px)
				right $rem(-2px)
				setBgImg("arrow-down-blue-curve-long.png")
		&:after
			pseudoElements()
			top $rem(31px)
			width $rem(5px)
			height $rem(44px)
			setBgImg("arrow-down-blue-long.png")
	figcaption
		font 700 $rem(15px) / 1 Arial
		color color_blizzard_blue
		position relative
		&:before
			pseudoElements()
			height $rem(45px)
	.additional-text
		position absolute
		font 700 $rem(11px) / 1.2 Arial
		color color_brand_white
		span
			font-size $rem(11px)
			font-weight 400
	.state1
		> .row-item
			&:nth-of-type(5)
				&:after
					setBgImg("arrow-down-double.png")
		figure
			figcaption
				&:after
					pseudoElements()
					top $rem(-10px)
					width $rem(15px)
					height $rem(34px)
					setBgImg("arrow-up.png")
			&:nth-of-type(1)
				figcaption
					&:after
						left $rem(-69px)
			&:nth-of-type(2)
				figcaption
					&:after
						right $rem(-69px)
	.state-wrapper
		position absolute
	.state-text
		font 700 $rem(15px) / 1 Arial
		color color_blizzard_blue
	.top-texts
		display flex
		position relative
		&:before
			pseudoElements()
			top $rem(22px)
	.middle-texts
		display flex
		position relative
		padding-bottom $rem(50px)
		&:before
			pseudoElements()
			top $rem(17px)
			width $rem(54px)
			height $rem(38px)
			setBgImg("arrow-big-down.png")
	.mid-text
		font 700 $rem(11px) / 1 Arial
		color color_brand_white
	.bottom-text
		font 400 $rem(11px) / 1.1 Arial
		color color_brand_white
		text-align center
	.state2
		.state-wrapper
			left $rem(23px)
			top $rem(57px)
		.state-text
			&:first-child
				margin-right $rem(20px)
		.top-texts
			padding-bottom $rem(172px)
			&:before
				width $rem(98px)
				height $rem(159px)
				setBgImg("state2-additional.png")
		.middle-texts
			margin-left $rem(20px)
			&:before
				left $rem(24px)
		.mid-text
			&:first-child
				margin-right $rem(10px)
		.bottom-text
			padding-left $rem(15px)
		> .row-item
			&:nth-of-type(5)
				.row-text
					color color_brand_blue
				&:after
					setBgImg("arrow-down-left.png")
				&:before
					background color_brand_yellow
		figure
			&:nth-of-type(1)
				&:after
					width $rem(7px)
					setBgImg("arrow-down-yellow.png")
			&:nth-of-type(2)
				&:before
					setBgImg("arrow-down-yellow-curve-long.png")
		.additional-text
			top $rem(40px)
			left $rem(-149px)
			text-align right
		.row-wrapper
			.row-item
				&:nth-of-type(1)
					.row-text
						color color_brand_blue
					&:before
						background color_brand_yellow
	.state3
		.state-wrapper
			right $rem(32px)
			top $rem(53px)
		.top-texts
			justify-content center
			padding-bottom $rem(176px)
			margin-right $rem(5px)
			&:before
				width $rem(34px)
				height $rem(164px)
				setBgImg("state3-additional.png")
		.middle-texts
			justify-content center
			&:before
				left $rem(6px)
		> .row-item
			&:nth-of-type(5)
				.row-text
					color color_brand_blue
				&:after
					setBgImg("arrow-down-right.png")
				&:before
					background color_brand_yellow
		figure
			&:nth-of-type(2)
				&:after
					width $rem(7px)
					setBgImg("arrow-down-yellow.png")
		.additional-text
			top $rem(37px)
			right $rem(-110px)
		.row-wrapper
			.row-item
				&:nth-of-type(2)
					.row-text
						color color_brand_blue
					&:before
						background color_brand_yellow
	.state4
		figure
			&:nth-of-type(2)
			&:nth-of-type(1)
				figcaption
					&:after
						pseudoElements()
						z-index 1
				&:after
					width $rem(22px)
					top $rem(16px)
					setBgImg("arrow-down-gray.png")
			&:nth-of-type(1)
				figcaption
					&:before
						top $rem(-31px)
						right $rem(6px)
					&:after
						top $rem(-50px)
						left $rem(-127px)
						width $rem(106px)
						height $rem(73px)
						setBgImg("vegf2.png")
				&:after
					left $rem(-32px)
			&:nth-of-type(2)
				figcaption
					&:before
						top $rem(-29px)
						left $rem(7px)
					&:after
						top $rem(-49px)
						left $rem(14px)
						width $rem(106px)
						height $rem(74px)
						setBgImg("pgf2.png")
				&:before
					top $rem(4px)
					setBgImg("arrow-down-curve-long2.png")
				&:after
					right $rem(-38px)
		> .row-item
			&:nth-of-type(5)
				.row-text
					color color_brand_white
				&:after
					setBgImg("arrow-down-double-gray.png")
				&:before
					background color_brand_gray1
					border-color color_brand_gray1
		.row-wrapper
			.row-item
				.row-text
					color color_brand_white
				&:before
					background color_brand_gray1
					border-color color_brand_gray1