@import 'constants'

$em( value, baseValue = $default-font-size ) {
	var u = unit(value);
	return (u is 'px') ? unit(value/baseValue, 'em') : unit(value, u)
}

$rem( value, baseValue = $default-font-size ) {
	var u = unit(value);
	return (u is 'px') ? unit(value/baseValue, 'rem') : unit(value, u)
}

