- var states = ["first", "second", "third"]
include ../../pug_fragments/oblique-tile
article.slide#MultiTargetApproachSlide
	h1 !{headline}
	.content-wrapper
		h2.lead-text !{lead_paragraph}
		.graph-wrapper
			.left-side
				.image-wrapper
					each text, index in buttons
						.button-wrapper
							p !{text}
							button.icon(data-goto-state=states[index])
			.right-side
				each block in blocks
					.text-wrapper
						h2 !{block.headline}
						each text in block.text
							p !{text}
