- var popups = [{href:"unique_moa_50a_inline",slide:"UniqueMoA50A1PopupSlide"},{href:"unique_moa_50b_inline",slide:"UniqueMoA50B1PopupSlide"}]

article.slide#UniqueMoA50Slide
	h1 !{headline}
	h2 !{lead_paragraph}
	.factors.content-wrapper
		each factor in factors
			.factor
				p.factor-title !{factor.title}
				p.factor-description !{factor.description}
	figure
		.molecule
		.descriptions
			each block in figure
				.block
					p.factor-title !{block.title}
					.description
						each description in block.descriptions
							p !{description}
	.buttons
		each title, index in buttons
			.button-wrapper
				p !{title}
				button(data-viewer='slideshow', href=popups[index].href, slide=popups[index].slide).arrow-btn.plus-white