@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#StartStrong33Slide
	padding-top $rem(110px)
	h1
		padding-top 0
		font-size $rem(40px)
		letter-spacing $rem(.1px)
	h2
		margin-bottom $rem(5px)
		font-size $rem(22px)
		letter-spacing $rem(.2px)
	.graph-wrapper
		&:after
		&:before
			background graph_wrapper_gradient
	.content-wrapper
		display flex
		height 100%
	.left-side
		width $rem(588px)
		.graph-wrapper
			width $rem(590px)
			margin $rem(81px) 0 0 0
			padding $rem(82px) 0 $rem(52px) $rem(59px)
			background-image graphBg_wrapper_gradient_to_right
			&:after
			&:before
				background-image graph_wrapper_gradient_to_right
		figure
			position relative
			padding-right $rem(63px)
			&:before
			&:after
				content ''
				position absolute
				right 0
				width $rem(16px)
				height $rem(26px)
			&:before
				top $rem(-50px)
				background url(../../shared/images/right_arrow.png) center center / 90% auto no-repeat
			&:after
				top $rem(200px)
				background url(../../shared/images/right_arrow.png) center center / 90% auto  no-repeat
		figcaption
			position relative
			margin-bottom $rem(24px)
			padding 0 $rem(122px)
			font-size $rem(20px)
			text-align center
			&:before
			&:after
				content ""
				position absolute
				top 50%
				width $rem(121px)
				height $rem(2px)
				background color_brand_white
			&:before
				left 0
			&:after
				right 0
		.wrap-number
			display flex
		.gold
			position relative
			top $rem(-14px)
			margin-right $rem(25px)
			font-size $rem(160px)
		mark
			font-size $rem(36px)
			line-height 1.05
			span
				font-size $rem(55px)
	.right-side
		width $rem(440px)
		margin-top $rem(4px)
		.graph-wrapper
			background none
			padding-left $rem(48px)
			&:after
			&:before
				background-image graph_wrapper_gradient_to_left
			&:nth-of-type(1)
				margin-bottom $rem(8px)
				figure
					margin-bottom $rem(8px)
			&:nth-of-type(2)
				figure
					padding-top 0
				.fig-text
					margin $rem(2px) 0 $rem(13px) 0
		figure
			position relative
			padding $rem(12px) $rem(175px) $rem(17px) 0
		figcaption
			font 700 $rem(15px) / 1.2 Arial
		.gold
			font-size $rem(109px)
		.fig-text
			padding $rem(10px) 0
			margin $rem(-3px) 0 0 0
			border-top $rem(1px) solid color_brand_white
			border-bottom $rem(1px) solid color_brand_white
			font 700 $rem(20px) / 1.2 Arial
	.left
		position absolute
		top $rem(50px)
		left 50%
		transform translate3d(-50%, 0, 0) rotate(90deg)