@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#Discussion66Slide
	.paradigma
		height $rem(136px)
		width $rem(667px)
	.shaped
		shape-outside polygon(0 0, 100% 0%, 50% 100%, 0% 100%)