@import '../../global_styles/color-scheme'
@import '../../global_styles/oblique-tile'
@import '../../global_styles/arrow-mixin'
@import '../../global_styles/utils'

$hideItems = (8 10 12)

#StayStrong41A1PopupSlide
	arrowBox(color_blizzard_blue,60,62,color_brand_yellow)
	h1
		obliqueTile(1, true, popup_header_gradient)
		margin-right $rem(107px)
		letter-spacing $rem(-0.1px)
	h2
		letter-spacing 0
		line-height 1.2
		color color_blizzard_blue
		text-transform inherit
	figure
		height $rem(340px)
		padding $rem(53px) $rem(85px) 0 $rem(97px)
		.product-name
			font 700 $rem(18px)/1 Arial
			color color_blizzard_blue
			padding 0 0 $rem(21px) $rem(119px)
	.graph
		flex-grow 1
		.items
			display flex
			align-items center
			:nth-child(5)
				&.item-image
					margin-right $rem(12px)
			:nth-child(7)
				&.item-image
					margin-left $rem(12px)
			for item in $hideItems
				:nth-child({item})
					background none
		.item-image
		.item-text
			position relative
			>p
				position absolute
				bottom 0
				width 100%
				text-align center
				font 700 $rem(12px)/1 Arial
		.item-image
			width $rem(29px)
			height $rem(95px)
			margin 0 $rem(20px) 0 $rem(21px)
			background url('../../shared/images/bottle.png') top / 100% auto no-repeat
		.item-text
			height $rem(95px)
			padding-top $rem(6px)
			font 400 $rem(11px)/1 Arial
			text-align left
	.arrow-wrap
		width $rem(85px)
		.arrow-box
			display flex
			flex-wrap wrap
			align-items center
			padding $rem(12px) 0 $rem(12px) $rem(13px)
			font-size $rem(11px)
			text-align left
			white-space nowrap
			strong
				font-size $rem(16px)
	.bottom-scale
		position relative
		border-bottom $rem(2px) solid color_blizzard_blue
		margin $rem(5px) $rem(35px) $rem(17px)
		text-align center
		font 700 $rem(13px)/1 Arial
		.caption
			padding $rem(5px) 0 $rem(22px)
		.handler
			position absolute
			bottom $rem(-6px)
			left $rem(279px)
			height $rem(8px)
			width $rem(3px)
			background-color color_blizzard_blue
		&:after
		&:before
			content ''
			display block
			position absolute
			bottom $rem(-5px)
			height $rem(7px)
			width $rem(2px)
			background-color color_blizzard_blue
		&:before
			left 0
		&:after
			right 0
	.addition-items
		display flex
		justify-content space-around
		width 100%
		padding 0 $rem(60px) 0 $rem(13px)
		.bottom-item
			position relative
			padding 0 $rem(10px)
			color color_brand_blue
			font 700 $rem(13px)/1 Arial
			letter-spacing $rem(-0.1px)
			z-index 1
			&:before
				content ''
				position absolute
				top 50%
				height $rem(26px)
				width 100%
				transform translate3d(-4%, -50%, 0) skew(-23deg)
				background-color color_blizzard_blue
				z-index -1