include ../../pug_fragments/skew
article.slide#StayStrong41Slide
	h1 !{headline}
	h2 !{sub_header}
	.content-wrapper
		figure.graph-wrapper
			.row.labels-wrapper
				each label in scheme.labels
					.column
						+skewText(label)
			.row
				each column in scheme.columns
					.arrow-wrapper
						p !{column}
			figcaption.oblique-tile
				p !{figcaption}
		.wrap-open-popup
			p !{button}
			button.arrow-btn.open-popup(data-viewer='slideshow' href='stay_strong_41a_inline' slide='StayStrong41A1PopupSlide')