mixin generatePatientsNumbers(numberOfPatients)
	- var i = 1
	- while(i <= numberOfPatients)
		li !{i}
		- i++

article.slide#StartStrong31Slide
	h1 !{headline}
	//h2 !{lead_paragraph}
	.content-wrapper
		.question-wrapper
			p.patients !{patients}
			.question
				p.number.big-number.gold !{question.number}
				p.text !{question.text}
		.slider-wrapper
			.before-after-slider(data-stop-swipe)
				.element-before
				.element-after
				ul.patients-numbers
					+generatePatientsNumbers(10)
		.act
			p !{act}