@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#RecentInsights112Slide
	.paradigma
		height $rem(66px)
		width $rem(680px)
	.shaped
		shape-outside polygon(0 0, 100% 0%, 80% 100%, 0% 100%)
