@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'
@import '../../global_styles/study-design-common'

#StartStrong35A1PopupSlide
	h1
		right 6px
	.diagram-header
		margin 0 0 $rem(12px) $rem(159px)
	.schema-wrapper
		margin-top $rem(20px)
		@extend commonStyles
		.diagram-billet
			padding-left $rem(35px)
			font-size $rem(15px)
			color color_brand_blue
		.diagram-billet-block
			width $rem(160px)
		.diagram-billet-text
			padding-left $rem(70px)
		.schema
			justify-content flex-start
		.column
			&:first-of-type
				position absolute
				.diagram-billet-block
					background-image linear-gradient(to right, rgba(color_brand_yellow, 0) 0%, rgba(color_brand_yellow, 1) 30%)
			&:last-of-type
				margin-left $rem(100px)
		.row-item
			width 275px
			&:after
				line($rem(2px), $rem(9px), auto, 100%)
				margin-bottom $rem(5px)
			&:nth-of-type(2)
				&:after
					height $rem(15px)
		.row
			&:after
				line($rem(550px), $rem(2px), 100%, auto)
			&:nth-child(1)
				.row-item:after
					display none
			&:nth-child(2)
				justify-content space-between
				.row-item
					&:before
						line($rem(2px), $rem(9px), 100%, auto)
						margin-top $rem(7px)
					&:nth-of-type(2)
						&:before
							height $rem(20px)
			&:nth-child(3)
				margin-top $rem(15px)
				justify-content space-between
				align-items flex-start
				.row-item
					font-size $rem(13px)
					justify-content flex-start
					&:after
						margin-bottom $rem(7px)
					&:before
						line($rem(2px), $rem(9px), 100%, auto)
						margin-top $rem(7px)
					&:first-of-type
						.row-item-title
							padding-left $rem(26px)
						.row-item-list
							width $rem(420px)
							left $rem(-58px)
					&:last-of-type
						.row-item-title
							padding-right $rem(28px)
						.row-item-list
							width $rem(300px)
							left $rem(-5px)
						&:after
							height $rem(9px)
						&:before
							margin-top $rem(25px)
							height $rem(21px)
				&:after
					line($rem(550px), $rem(2px), auto, 100%)
				&:before
					line($rem(550px), $rem(2px), 100%, auto)
			&:nth-child(4)
				padding-top $rem(16px)
				.row-item
					&:first-of-type
						&:after
							margin-bottom $rem(7px)
					&:last-of-type
						position absolute
						right $rem(-25px)
						top $rem(31px)
						text-align left
						&:after
							line($rem(152px), $rem(2px), 28px, auto)
							right 100%
							left auto
							transform translate3d(0, 0, 0)
							margin-right $rem(10px)
			&:nth-child(n+4)
				.row-item
					font-size $rem(13px)
				&:after
					display none
			&:last-of-type
				padding-top $rem(15px)
				.row-item
					&:after
						height $rem(16px)
						margin-bottom $rem(8px)
		.aside-list
			position absolute
			bottom $rem(100px)
			left $rem(40px)
		mark.arrow
			position relative
			padding-left $rem(11px)
			&:before
				position absolute
				content ""
				top $rem(2px)
				left 0
				width $rem(9px)
				height $rem(10px)
				background url(assets/images/arrow.png) no-repeat center center / contain