doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Eylea DME EFFICACY Global Master eDetailer
		meta(name='description', content='Presentation')
		meta(name='author', content='')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1')
		// Specify a default short title when adding to home screen (works in iOS >= 6)
		meta(name='apple-mobile-web-app-title', content='Template')
		// Don't automatically detect phone numbers and email addresses
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='email=no')
		link(rel='stylesheet', href='build/presentation/styles.css')
		script window.ahstrings = !{stringdata}
		//
			Printing and PDF exports
			<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'accelerator/css/print/pdf.css' : 'accelerator/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
			</script>
	body
		#presentation.accelerator
			nav(data-module='ag-auto-menu')
			div(data-module='ah-fix-slide-render')
			div(data-module='ah-fix-slide-animation')
			div(data-module='ah-correct-events')
			div(data-module='ag-cleanup')
			div(data-module='ah-listener')
			//.develop-sitemap(data-module='ah-develop-sitemap')
			#ahUtils(data-module='ah-utils')
			#ahHistory(data-module='ah-history')

			section#slideshows.slideshows.slides
			#overlay-popup-custom.custom-popup(data-module='ag-overlay')
				.ag-overlay-background
				.ag-overlay-content
			div(data-module='ah-binding-handler')
			#viewer.custom-overlay(data-module="ag-viewer")
			#inlineSlideshow(data-module='ah-inline-slideshow')
			div(data-module='ah-inline-menu')
			div(data-module='ah-inline-indicators')
			#notes(data-module='ah-notes')
			#ahRefsNotesPopup.auto-references-popup-overlay(data-module='ah-refs-notes-popup')
			div#agAnalytics(data-module='ag-slide-analytics')
			#ahAnalitycs(data-module='ah-slide-analytics')
			div(data-module='ap-media-repository')
			div(data-module='ah-media-repository')
			div(data-module='ah-auto-references-popup', id="ah-auto-references-popup", isglobalnumeric=true)
			div(data-module='ap-custom-collections-storage')
			div(data-module='ap-content-groups')
			div(data-module='ap-notepad')
			div#slideIndicator(data-module='ap-slide-indicator')

			footer(data-module='ap-toolbar', minimized='')
			.eylia-logo(data-module='ah-bottom-logo')
		// Agnitio Content API
		// http://wiki.agnitio.com/index.php?title=Agnitio_Content_API_(iPad)
		// <script src="../viewer/js/agnitio.js"></script>
		// Reference local agnitio.js for testing purposes
		script(src='accelerator/lib/agnitio.js')
		script(src='build/presentation/scripts.js')
		// script src="http://weinre.antwerpes.de/target/target-script-min.js#HC-Template"></script