article.slide#StayStrong41A2PopupSlide
	h1 !{headline}
	.content
		p.lead-paragraph !{lead_paragraph}
		.label-wrapper
			.label
				p.top-caption !{label.top_caption}
				p.main-caption !{label.main_caption}
				p.bottom-caption !{label.bottom_caption}
		p.summary !{summary}
		p.note !{note}

