@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'
@import '../../global_styles/oblique-tile'

col_widths = $rem(219px) $rem(92px) $rem(89px) $rem(91px)
$_setColWidth()
	for _width, index in col_widths
		&:nth-of-type({index + 1})
			width _width

#StartStrong34A4PopupSlide
	h1
		letter-spacing 0
		right 6px
	.table-global
		margin $rem(85px) auto 0 $rem(250px)
		width $rem(536px)
		line-height 1
		col
			$_setColWidth()
		td, th
			padding-left 0
			padding-right 0
		thead
			tr:nth-of-type(1)
				th
					height $rem(48px)
			tr:nth-of-type(2)
				th
					height $rem(44px)
			.vivid
				width $rem(290px)
				background color_brand_white url(../../shared/images/vivid-east.png) center center/auto 84% no-repeat
		tbody
			th
				height $rem(31px)
				padding-left $rem(8px)
			tr
				for _value in (5 6 7)
					&:nth-of-type({_value})
						th
							padding-left $rem(22px)
				&:nth-of-type(7)
					td
						background-color color_brand_blue8
