include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines
include ../../pug_fragments/skew
mixin generateButton(text, attr)
	.wrap-open-popup
		p !{text}
		button.arrow-btn.open-popup(data-viewer="slideshow")&attributes(attr)
mixin additionalLegend(texts, className)
	.g-legend-additional(class=className)
		+skewText(texts.caption).caption
		.legend-content
			each item, indexEl in texts.list
				li(class=additionalLegendColors[indexEl])
					+skewText(item)
-
	var
	lineClasses  = ['element-blue', 'element-light-blue', 'element-yellow']
	legendColors = ['legend-blue', 'legend-light-blue', 'legend-yellow']
	additionalLegendColors = ['element-yellow', 'element-light-blue', 'element-blue']

article.slide#StartStrong35Slide
	h1 !{headline}
	p.lead-paragraph !{lead_paragraph}
	P.sub-lead-paragraph !{sub_paragraph}
	.content-wrapper
		+graph(graph, legendColors)
			+setGraphLines(graph.lines, lineClasses)
			+additionalLegend(graph.graph_additional_legend, "initial")
			+additionalLegend(graph.graph_additional_legend_last, "extension")
			button.arrow-btn.plus(data-goto-state="detail-1")
			button.arrow-btn.plus(data-goto-state="detail-2")
			.popups-buttons
				+generateButton(popups[0], {"href":"start_strong_35a_inline", "slide":"StartStrong35A1PopupSlide"})
				+generateButton(popups[1], {"href":"start_strong_35b_inline", "slide":"StartStrong35B1PopupSlide"})