@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'
@import '../../global_styles/study-design-common'

#StartStrong30B1PopupSlide
	h1
		right 6px
	.diagram-header
		margin 0 0 $rem(10px) $rem(150px)
	.schema-wrapper
		margin-top $rem(20px)
		@extend commonStyles
		.column:first-of-type
			.diagram-billet-block
				background-image linear-gradient(to right, rgba(color_brand_white, 0) 0%, rgba(color_brand_white, 1) 70%)
				.diagram-billet
					background url(assets/images/image1.png) no-repeat right center \/ $rem(39px) auto
			.diagram-billet-text
				text-align right
		.column:nth-of-type(2)
			width $rem(770px)
		.column:last-of-type
			.diagram-billet-block
				background-image linear-gradient(to left, rgba(color_brand_white, 0) 0%, rgba(color_brand_white, 1) 70%)
				.diagram-billet
					background url(assets/images/image2.png) no-repeat left center \/ $rem(39px) auto
		.row-item
			&:after
				line($rem(2px), $rem(9px), auto, 100%)
				margin-bottom $rem(5px)
			&:nth-of-type(2)
				&:after
				&:before
					height $rem(15px)
		.row-item-list
			width $rem(290px)
			left $rem(-25px)
		.row
			&:after
				line($rem(547px), $rem(2px), 100%, auto)
			&:nth-child(1)
				.row-item:after
					display none
			&:nth-child(2)
				justify-content space-between
				.row-item
					&:before
						line($rem(2px), $rem(9px), 100%, auto)
						margin-top $rem(7px)
					&:nth-of-type(2)
						&:before
							height $rem(15px)
			&:nth-child(3)
				margin-top $rem(15px)
				justify-content space-between
				align-items flex-start
				.row-item
					font-size $rem(13px)
					&:after
						margin-bottom $rem(7px)
				&:after
					line($rem(547px), $rem(2px), auto, 100%)
			&:nth-child(4)
				padding-top $rem(19px)
			&:nth-child(n+4)
				.row-item
					font-size $rem(13px)
					&:after
						height $rem(32px)
						margin-bottom $rem(8px)
				&:after
					display none
			&:last-of-type
				padding-top $rem(30px)
		.aside-list
			margin $rem(5px) 0 0 $rem(100px)