include ../../pug_fragments/top-global-text

mixin generateTextBlock(text)
	- var collection = text.split("<br>")
	each text in collection
		span.inner-headline !{text}
		br

article.slide#HomePageSlide
	img(src="assets/images/bayer_logo.png" alt="")

	h1
		+generateTextBlock(headline)
	p.note !{note}
