include ../../pug_fragments/arrow-block

article.slide#StayStrong41A1PopupSlide
	h1.obliqueTile !{headline}
	.content
		h2.sub-header !{lead_paragraph}
		figure
			p.product-name !{product_text.product_name}
			.graph
				.items
					each item, index in product_text.products
						if item
							.item-text
								+arrowMixin(item)
								p !{index+1}
						else
							.item-image
								p !{index+1}
			.bottom-scale
				p.caption !{product_text.caption}
				.handler
			.addition-items
				each item in bottom_items
					p.bottom-item !{item}
