@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#RecentInsights110Slide
	.paradigma
		height $rem(67px)
		width $rem(754px)
	.shaped
		shape-outside polygon(0 0, 100% 0%, 80% 100%, 0% 100%)
