include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines
include ../../pug_fragments/skew

-
	var
	lineClasses  = ['element-yellow']
	legendColors = ['legend-yellow']

article#StartStrong35B1PopupSlide.slide
	h2 !{lead_paragraph}
	h1 !{headline}
	+graph(graph, legendColors).top-scale
		+setGraphLines(graph.lines, lineClasses)