@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#ContraindicationsSlide
	padding-top $rem(62px)
	background-color #0c4764
	h1
		font-size $rem(40px)
		margin-bottom $rem(33px)
		letter-spacing $rem(-0.1px)
		&:before
			height $rem(0)
		&:after
			height $rem(0)
	.content-wrapper
		padding $rem(107px) $rem(100px) 0 $rem(100px)
		height $rem(707px)
		p
			font-size $rem(21px)
			margin-bottom $rem(16px)
			letter-spacing $rem(0.4px)
			line-height $rem(1.2)
		.small_text
			padding-top $rem(130px)
			padding-left $rem(9px)
			p 
				font-size $rem(11px)
				position relative
				letter-spacing $rem(0.55px)
				span
					position absolute
					left $rem(-8px)
					top $rem(0px)
