- var className = ['left', 'middle', 'right']

article.slide#UniqueMoA50B2PopupSlide
	h1.oblique-tile !{headline}
	p.sub-header !{lead_paragraph}
	figure
		each value, index in items
			.block(class='block-'+className[index])
				if value.header
					p.header !{value.header}
				if value.equal
					p !{value.equal}
				if value.count
					p.big-number.gold !{value.count}
				if value.footer
					.footer
						each _value in value.footer
							p !{_value}
