@import '../../global_styles/color-scheme'
@import '../../global_styles/oblique-tile'
@import '../../global_styles/utils'

#UniqueMoA50B2PopupSlide
	.oblique-tile
		letter-spacing 0
		obliqueTile(1, true, popup_header_gradient)
		&:before
			right 6px
	.sub-header
		letter-spacing 0
		line-height 1.2
		color color_blizzard_blue
	figure
		display flex
		align-items center
		justify-content center
		padding $rem(75px) 0
		font 700 $rem(22px) / 1 Arial
	.block
		width $rem(150px)
	.block-middle
		width $rem(125px)
		text-align center
		font-size $rem(20px)
		height $rem(30px)
	.big-number
		font-size $rem(108px)
	.footer
		font-size $rem(20px)
		padding $rem(10px) 0
		line-height 1.2
		border-bottom $rem(1px) solid color_brand_white
		border-top $rem(1px) solid color_brand_white
		margin-top $rem(-2px)
		p:nth-of-type(2)
			font-weight 400
