include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines

-
	var
		lineClasses  = ['element-blue', 'element-gray small-value']
		legendColors = ['legend-blue', 'legend-gray']

article.slide#StayStrong40C1PopupSlide
	//p.lead-paragraph !{lead_text}
	h1 !{headline}

	+graph(graph, legendColors)
		+setGraphLines(graph.lines, lineClasses)