@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

graph_wrapper_gradient_to_bottom = linear-gradient(to bottom, rgba(color_brand_yellow, 0.8), rgba(color_brand_white, 0) 100%)

graph_wrapper_gradient_to_top = linear-gradient(to top, rgba(color_brand_yellow, 0.8), rgba(color_brand_white, 0) 100%)

#UniqueMoA50B4PopupSlide
	h1:before
		right 6px
	ul
		margin $rem(56px) $rem(145px) $rem(0) $rem(124px)
		display flex
		justify-content space-between
		align-items stretch
	li
		position relative
		width 50%
		height $rem(330px)
		padding $rem(58px) $rem(0) $rem(0) $rem(67px)
		font 400 $rem(23px) \/ $rem(27px) Arial
		background linear-gradient(to bottom, rgba(color_blizzard_blue, .25), rgba(color_brand_blue1, 0))
		&:before
			content ""
			position absolute
			top 0
			left 0
			width $rem(2px)
			height 100%
			background-image graph_wrapper_gradient_to_bottom
		&:nth-of-type(2n)
			background linear-gradient(to top, rgba(color_blizzard_blue, .25), rgba(color_brand_blue1, 0))
			padding-left $rem(40px)
			&:before
				left 0
				width $rem(2px)
				height 100%
				background-image graph_wrapper_gradient_to_top
		&:last-of-type
			&:after
				content ""
				position absolute
				top 0
				right 0
				width $rem(2px)
				height 100%
				background-image graph_wrapper_gradient_to_bottom