@import '../../global_styles/color-scheme'
@import '../../global_styles/oblique-tile'
@import '../../global_styles/utils'

$left_side_row_srttings = ((19.7rem 6.81rem 7.3rem 0.3) (21.95rem 6.55rem 8.2rem 0.6) (24.1rem 6.78rem 9.1rem 0.95))
$seperator_width = (19.8rem 21.95rem 0)
$desription_position = (-3px 5px 5px)
$postition_of_right_row = (-4.44rem -2.23rem -0.05rem)

$right_seperator_style()
	height 8px
	margin-left $rem(-60px)
	background-color #e8a624
	transform skew(17deg)
	width 37rem

setLeftRowProps(array)
	for item, index in array
		.row-{index}
			display flex
			transform skew(17deg)
			width item[0]
			height item[1]
			margin-left -21px
			padding-left item[2]
			background rgba(0 59 92 item[3])
			.description
				margin-left $desription_position[index]

setRightRowProps(array)
	for item, index in array
		.row-{index}
			height item[1]
			margin-left $postition_of_right_row[index]

setSeperatorWidth(array)
	for item, index in array
		.seperator-line-{index}
			height 8px
			width item
			background-color color_brand_yellow
			transform skew(17deg)
			margin-left -5px
			z-index 10

#StartStrong32APopupSlide
	padding 1.52rem 0 0 0
	h1
		obliqueTile(1, true, color_blizzard_blue)
		font-size 1.2rem

	h2
		text-transform initial

	.sub-header
		color color_blizzard_blue
		font-size 1.08rem

	.content
		display flex
		margin-top 23px

	.left-side
		setLeftRowProps($left_side_row_srttings)
		setSeperatorWidth($seperator_width)

	.row
		padding-top $rem(18px)

	.count
	.description
		transform skew(-17deg)
		font-weight 700

	.count
		font-size $rem(76px)

	.description
		font-size $rem(30px)
		margin-top $rem(7px)
		p:last-of-type
			text-indent $rem(10px)

	.row-0
		.description
			p:last-of-type
				text-indent $rem(14px)

	.left-side
	.right-side
		.seperator-line-2
			display none

	.right-side
		setRightRowProps($left_side_row_srttings)

	.right-side
		.seperator-line-0
			$right_seperator_style()
			margin-left -3.31rem
		.seperator-line-1
			$right_seperator_style()
			margin-left -1.17rem

		.row
			width 37rem
			opacity .9
			padding-top 0
			transform skew(17deg)
			background-color color_brand_yellow
			display flex
			align-items center
			padding-left $rem(64px)
			ul
				transform skew(-17deg)
				color color_brand_blue
				li
					position relative
					margin-bottom $rem(2px)
					line-height 1.2
					&:before
						content '•'
						position absolute
						top: $rem(1px)
						left $rem(-20px)
					&:nth-of-type(2)
						margin-left $rem(7px)
					&:nth-of-type(3)
						margin-left $rem(30px)
						text-indent $rem(-15px)
					b
						font-weight 700
			&.row-1
				ul li
					&:nth-of-type(2)
						margin-left $rem(21px)
						text-indent $rem(-15px)
	.oblique-tile
		margin 0.525rem 8.475rem 0 -0.525rem
		obliqueTile(1, true, color_brand_yellow)
		p
			position relative
			z-index 1
			padding 0.75rem 1.35rem 0.7125rem 0
			color color_brand_yellow
			letter-spacing -.05px
			font-weight 700
		&:before
			background linear-gradient(to right, color_brand_blue2, color_brand_blue1)