@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

numbersOffset = 63 46 41 54 54 55 52 54 44

lines(from = right)
	&:before
	&:after
		content ""
		position absolute
		width 100%
		height $rem(2px)
		left 0
		background-image linear-gradient(to from, rgba(color_brand_yellow,0.3), rgba(color_brand_white,0) 100%)
	&:before
		top 0
	&:after
		bottom 0

#StartStrong31Slide
	h1
		margin-bottom $rem(10px)
	h2
		margin 0 0 $rem(31px) 0
		letter-spacing $rem(-.3px)
	.content-wrapper
		padding $rem(91px) 0 0 0
		height 100%
	.question-wrapper
		position relative
		padding $rem(29px) $rem(50px) $rem(32px) $rem(51px)
		width $rem(360px)
		lines()

	.patients
		font-size $rem(23px)
		line-height 1.15
	.question
		font-size $rem(27px)
		border-bottom $rem(1px) solid color_brand_white
		border-top $rem(1px) solid color_brand_white
		margin $rem(9px) $rem(7px) 0 0
		padding $rem(16px) 0 $rem(11px) $rem(25px)
		.number
			float left
			font-size $rem(144px)
			margin $rem(-18px) $rem(6px) 0 0

	.slider-wrapper
		position absolute
		width $rem(687px)
		height $rem(284px)
		top $rem(117px)
		right 0
		padding $rem(39px) 0 0 0
		lines(left)
	.before-after-slider
		width $rem(641px)
		position relative
	.element-before
	.element-after
		position absolute
		width 100%
		height $rem(218px)
	.element-after
		width 0

	.patients-numbers
		position absolute
		font-size $rem(22px)
		font-weight 700
		display flex
		width 100%
		justify-content space-between
		padding 0 $rem(23px) 0 $rem(20px)
		margin-top $rem(74px)
		li
			for offset, index in numbersOffset
				&:nth-of-type({index+1})
					margin-right unit(offset, "px")

	.element-before
	.element-after
		background url(assets/images/people-before2.png) 0 0 / 100% auto no-repeat
		background-size $rem(641px) auto
	.element-after
		background-image url(assets/images/people-after2.png)

	.act
		background url(assets/images/ico-pres-and-hold.png) center 0 / 57px auto no-repeat
		font-size $rem(13px)
		padding-top $rem(66px)
		position absolute
		top $rem(448px)
		left $rem(153px)