@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'
@import '../../global_styles/oblique-tile'

_scaleMargins = (12px 26px 27px 92px 172px 161px)

_setScaleMargins()
	&
		for margin, index in _scaleMargins
			li:nth-of-type({index + 1})
				margin-right $rem(margin)

#StayStrong40B1PopupSlide
	padding-top $rem(10px)
	h1
		obliqueTile(3, true, popup_header_gradient)
		margin-right $rem(114px)
		letter-spacing 0
	.lead-paragraph
		padding-left $rem(100px)
		font 400 $rem(13px)/1.1 Arial
		letter-spacing $rem(.1px)
	.figure-fragment
		margin $rem(22px) $rem(100px)
	.content-wrapper
		padding $rem(73px) $rem(235px) $rem(40px) $rem(98px)
	.graph
		height $rem(205px)
	.g-scale-v
		&:before
			margin-right $rem(44px)
		.g-scale-label
			padding-bottom $rem(44px)
	.element-gray
		padding-right $rem(5px)
	.g-line
		&:first-of-type
			background url(assets/images/graph1.png) $rem(2px) 3%/99.6% auto no-repeat
			.g-line-info
				top $rem(92px)
		&:last-of-type
			background url(assets/images/graph2.png) $rem(2px) 4%/99.6% auto no-repeat
			.g-line-info
				top $rem(152px)
			.g-line-value
				&:after
					background url(../../shared/images/vivid.png) 50% 50%/auto 100% no-repeat
	.g-scale-h
		p
			padding-right 0
		ul
			justify-content flex-start
		_setScaleMargins()