mixin setAxis(title, min, max, step, labels, isLabel)
	- var start = min, step = step || 1, labels = labels || [], _class = isLabel ? 'g-hide' : '';
	.g-scale&attributes( attributes )
		ul
			while start <= max
				if labels[start]
					li(class=_class)
						span !{labels[start]}
				else
					li(class=_class)
						span !{start}
				- start += step
		if title
			- var splittedTitle = title.split('<br>')
			p.g-scale-label
				each label in splittedTitle
					span !{label.trim()}
					br