include table-generator

mixin scheduleTable(text, columns)
   figure.figure-fragment
      figcaption !{text.caption}
         span.pointer-label
      .content-wrapper
         +tableGenerator(text.table, columns, 'schedule')
         .schedule-legend
            each item,index in text.legend
               p(class = 'circle' + (index + 1)) !{item}