include graph
include graph-lines

-
   var
      lineClasses  = ['element-blue', 'element-gray small-value']
      legendColors = ['legend-blue', 'legend-gray']

mixin buildFragment(strings, _lineClasses)
   - var _lineClasses = lineClasses
   p.lead-paragraph !{strings.leadText}
   h1 !{strings.headline}

   +graph(strings.graph, legendColors)&attributes(attributes)
      +setGraphLines(strings.graph.lines, _lineClasses)