mixin buildSDContent(texts)
    .diagram-header
        .pointer-label
        p.text !{texts.sub_header}
    .schema
        each item in texts.schema
            .column
                if item.text
                    .diagram-billet-block
                        .diagram-billet
                            if item.title
                                p !{item.title}
                    p.diagram-billet-text !{item.text}
                else
                    each row in item.rows
                        .row
                            each rowItem in row.items
                                .row-item
                                    p.row-item-title !{rowItem.title}
                                    if rowItem.content
                                        p.row-item-content !{rowItem.content}
                                    if rowItem.list
                                        ul.row-item-list
                                            each listItem in rowItem.list
                                                li !{listItem}