- var topGlobalTextStart = globals.top_global_text_start
- var topGlobalTextEnd = globals.top_global_text_end;

mixin topGlobalText(input)
	- var value = input ? "<sup>" + input + "</sup>" : '', textValue = topGlobalTextStart + value + topGlobalTextEnd
		p.top-global-text !{textValue}