include ../../pug_fragments/graph
include ../../pug_fragments/graph-columns-bar

-
	var
		barsColors   = ['gray-bar', 'blue-bar']
		legendColors = ['legend-blue', 'legend-gray']

article.slide#UniqueMoA50A1PopupSlide
	h1 !{headline}

	+graph(graph, legendColors, false, true).diagram-graph
		+setColumnsBars(graph.bars, barsColors)

	.footnote !{footnote}