@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

$tableWidth = 355px 109px 104px 104px
$pLeftIds = 5 6 7 8 9
$bgIds = 2 5 7 9 11

setTableWidth(array)
	colgroup
		for w, index in array
			col:nth-of-type({index+1})
				width $rem(w)

setPaddingLeft(array)
	for i, index in array
		tr:nth-of-type({i})
			th
				padding-left $rem(23px)

setBgTd(array)
	for i, index in array
		tr:nth-of-type({i})
			td, th
				background-color color_brand_blue9

#StartStrong35A2PopupSlide
	h1
		margin-right $rem(106px)
		letter-spacing 0
		sup
			text-transform none
	.content
		padding $rem(25px) $rem(76px) 0 $rem(176px)
	setTableWidth($tableWidth)
	thead
		tr:first-of-type
			th
				border-bottom 0.625rem solid transparent
				padding $rem(12px) $rem(5px) $rem(13px) $rem(5px)
		tr:last-of-type
			th
				padding $rem(8px) $rem(5px) $rem(9px) $rem(5px)
	tbody
		setPaddingLeft($pLeftIds)
		setBgTd($bgIds)
		td, th
			background-color transparent
	th
		&.yellow
			font-size $rem(16px)
		&.gray
			color color_brand_white
			background-color color_brand_gray
		&:not(:first-child)
			border-right none
	td
		padding $rem(8px) $rem(5px) $rem(7px) $rem(5px)
		border none
		&:first-child
			border-right 0.625rem solid transparent