@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#RI_Quiz_11
	.paradigma-wrapper
		padding-top $rem(217px)
		height auto
		display block
		.paradigma
			width 100%
			p
				color #265773
				text-align center
				margin-bottom $rem(114px)
				font-size $rem(46px)
				line-height $rem(55px)
				font-family Arial
				font-weight 400
				letter-spacing $rem(-1.2px)
				span
					color #ffd200
					font-weight 700
					letter-spacing $rem(-0.5px)