@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#Discussion62Slide
	.paradigma
		height $rem(102px)
		width $rem(642px)
	.shaped
		shape-outside polygon(0 0, 100% 0%, 60% 100%, 0% 100%)
