@import '../../global_styles/utils'
@import '../../global_styles/color-scheme'
@import '../../global_styles/colored-sections-slide'

#Eylea20Slide
	commonStylesForSections()
	padding 0
	h1
		letter-spacing -.4px
	.wrapper
		background url(assets/images/country_road.png) 0 0 / 100% auto
		padding-top $rem(90px)
	.sections
		margin $rem(15px) 0 0 $rem(-31px)
	.content
		padding $rem(30px) 0 0 $rem(95px)
		width 100%
	.blending
		position absolute
		border none
		height 100%
		background-color color_brand_blue
		mix-blend-mode multiply
	.show-description
		position absolute
		right $rem(40px)
		top $rem(65px)
		&.hidden
			display none
	section
		.description
			width $rem(371px)
			background-color rgba(255, 210, 0, 0.8)
			opacity 0
			transition opacity .5s
			font 400 $rem(18px)/1.2em arial
			padding-top $rem(20px)
			.shape
				width $rem(50px)
				height $rem(80px)
				float left
				shape-outside polygon(0 0, 100% 0%, 60% 100%, 0% 100%)
			.content
				padding 0
			&.active
				opacity 1
		&:first-of-type
			height $rem(191px)
			.blending
			.main-info
				width $rem(637px)
			.sub-texts p
				&:first-of-type
					margin $rem(6px) 0 0 $rem(58px)
				&:last-of-type
					margin $rem(3px) 0 0 $rem(102px)
		&:nth-of-type(2)
			height $rem(185px)
			h1
				margin $rem(10px) 0 0 0
			.blending
			.main-info
				width $rem(579px)
			.sub-texts
				margin $rem(8px) 0 0 $rem(56px)
		&:last-of-type
			height $rem(179px)
			h1
				margin $rem(28px) 0 0 $rem(28px)
				padding-top 0
				letter-spacing $rem(0.1px)
			.blending
			.main-info
				width $rem(523px)
			.description
				padding-top $rem(5px)
	.sub-texts
		font 400 $rem(15px)/1em arial
		color color_brand_white
		span
			font 700 $rem(25px)/1em arial