@import '../../global_styles/start-strong-30c-fragment'
@import '../../global_styles/utils'
@import '../../global_styles/graph'

_linesProps = { path: url(assets/images/line2.png), positionX: $rem(3px), positionY: 25%, sizeX: 99.5%, sizeY: auto } { path: url(assets/images/line1.png), positionX: $rem(5px), positionY: 7%, sizeX: 99%, sizeY: auto }


.slide#StartStrong30A1PopupSlide
	@extends _stylesFragment

	.sub-title
		position relative
		padding $rem(7px) 0 0 $rem(100px)
		margin 0 $rem(90px) $rem(17px) 0
		height $rem(33px)
		font 700 $rem(13px) Arial
		line-height $rem(20px)
		&:before
			content ""
			position absolute
			border $rem(2px) solid rgba(255,255,255,0.2)
			right 0
			top 0
			left $rem(-10px)
			bottom 0
			transform skew(-18deg) translate3d(0, 0, 0)
	h1
		height $rem(45px)
		margin-right $rem(115px)
		font 700 $rem(19px) Arial
	.content-wrapper
		padding $rem(86px) $rem(234px) $rem(65px) $rem(101px)
		.graph
			height $rem(165px)
			.g-lines
				_setLines(_linesProps)
			.g-scale-h
				top 0
				p
					padding-top 0
					top $rem(-38px)
				ul
					li
						top $rem(-33px)
						&:before
							top $rem(27px)
			.g-scale-v
				p
					padding-bottom $rem(43px)
				&:before
					margin-right $rem(42px)
				ul
					flex(column, space-between, flex-end)
			.g-line
				&:first-of-type
					z-index 1
					.g-line-info
						top $rem(148px)
						.g-line-value
							&:after
								background url(../../shared/images/vivid.png) 50% 50%/auto 100% no-repeat
				&:last-of-type
					.g-line-info
						top $rem(46px)
						.g-line-value.small-value
							padding: $rem(2px) $rem(9px) $rem(2px) 0
							width $rem(75px)