@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

$graph_text_block_paddings = (29px 26px 21px 19px)
$point_values_params = ((113px 34px) (87px 79px) (69px 123px) (63px 168px) (27px 208px))

disabled()
	pointer-events none
	opacity .4

enabled()
	pointer-events auto
	opacity 1

#StartStrong30Slide
	h2
		margin-bottom $rem(29px)

	h3
		top $rem(-16px)

	.content-wrapper
		padding-bottom $rem(70px)

	.figure-fragment
		margin $rem(2px) $rem(49px) $rem(13px) $rem(51px)
		.content-wrapper
			padding $rem(55px) $rem(233px) $rem(113px) $rem(111px)

	figcaption
		width $rem(530px)


	.point-values
		display none
		p
			&:before
				height $rem(32px)
				width @height
			for _params, key in $point_values_params
				&:nth-of-type({key+1})
					top $rem(_params[0])
					left $rem(_params[1])
			&:nth-of-type(5)
				font-size $rem(23px)
				&:before
					height $rem(46px)
					width @height

		.point-description
			left $rem(242px)
			top 0
			&:before
				top 50%
				width $rem(41px)
				height $rem(17px)
			.point-additional
				width $rem(176px)
				p
					font-size $rem(15px)
					text-transform uppercase

	.graph
		height $rem(241px)
		.point-values
			display none
		.block
			&:first-of-type
				width 39%
				background-color transparent
			&:last-of-type
				width 61%
				background-color rgba(color_brand_yellow, .2)
				p
					background-color rgba(color_brand_yellow, .3)
		.g-scale-h
			li
				&:nth-of-type(6)
					margin-right $rem(310px)
	.g-lines
		.g-line
			.g-line-additional
				border none
				p
					font-size $rem(14px)
			.g-line-info
				margin-left $rem(11px)
				z-index 2
				.g-line-value
					position relative
					width $rem(113px)
					> p
						font-size $rem(31px)
					&:after
						content ''
						position absolute
						top 0
						right 100%
			&:nth-of-type(1)
				background url("assets/images/line3.png") $rem(6px) 97% / 99% auto no-repeat
				.g-line-info
					top $rem(67px)
					left $rem(237px)
					.g-line-value
						&:after
							margin $rem(-8px) 0 0 $rem(15px)
							background url(../../shared/images/vivid.png) top left / contain no-repeat
			&:nth-of-type(2)
				background url("assets/images/line1.png") $rem(2px) 96% / 99.5% auto no-repeat
				.g-line-info
					top $rem(202px)
					left $rem(237px)
					.g-line-value
						width $rem(80px)
						background-color color_brand_dark_gray_3
						p
							padding-right $rem(8px)
							font-size $rem(21px)
							color color_brand_light_gray_3
			&:nth-of-type(3)
				.g-line-info
					display none
					top $rem(67px)
					left $rem(237px)
					.g-line-value
						&:after
							margin $rem(-8px) 0 0 $rem(15px)
							background url(../../shared/images/vivid.png) top left / contain no-repeat
			&:nth-of-type(4)
				.g-line-info
					display none
					top $rem(202px)
					left $rem(237px)
					.g-line-value
						width $rem(80px)
						background-color color_brand_light_gray
						p
							padding-right $rem(8px)
							font-size $rem(21px)
							color color_brand_gray1

	.wrap-interactive-buttons
		position absolute
		top 100%
		left 0
		display flex
		width $rem(585px)
		padding $rem(48px) 0 0 $rem(29px)
		z-index 2
		button
			&:nth-of-type(1)
				margin-right $rem(10px)
			&.left
				position absolute
				left $rem(201px)
				&:before
					content ''
					position absolute
					bottom 100%
					left 50%
					width $rem(2px)
					height $rem(290px)
					transform translateX(-1px)
					background-color color_brand_yellow
					box-shadow  $rem(-2px) $rem(0px) $rem(6px) $rem(0px) color_brand_gray

	.white-holder
		position absolute
		top $rem(-14px)
		left $rem(233px)
		width $rem(360px)
		height $rem(262px)
		z-index 0
		background-color color_brand_white

	.graph-text-block
		position absolute
		top $rem(15px)
		left $rem(324px)
		padding $rem(12px) 0 $rem(10px) 0
		display none
		p
			font 700 $rem(12px) / .7 Arial
			color color_brand_blue3
			letter-spacing $rem(.3px)

		span
			display block
			for _padding, key in $graph_text_block_paddings
				&:nth-of-type({key+1})
					padding-left $rem(_padding)
			&:nth-of-type(2)
				padding-bottom $rem(3px)
		&:before
			content ''
			position absolute
			border-width $rem(2px)
			border-style solid
			border-image linear-gradient(to left, rgba(color_brand_white, 0), rgba(color_brand_white, 0) 5%, color_brand_yellow)
			border-image-slice 1
			border-right-width 0
			right 0
			top 0
			left 0
			bottom 0
			transform skew(-15deg) translate3d(0,0,0)
			box-shadow 0 0 $rem(1px) rgba(255,210,0, 0)
			background graph_wrapper_gradient_to_right_2
			z-index -1

	.wrap-buttons
		display flex
		margin $rem(-6px) 0 0 $rem(50px)
		.wrap-open-popup
			margin-right $rem(50px)
			padding-right $rem(42px)
			&:last-of-type
				margin-right 0
		.open-popup
			position absolute
			right 0
			transform translate3d(0, -50%, 0)
	.state3
		disabled()

	&.state-1
		.g-lines
			.g-line
				&:nth-of-type(1)
				&:nth-of-type(2)
					.g-line-info
						display none
				&:nth-of-type(3)
					.g-line-info
						display block
						top $rem(42px)
						left $rem(593px)
				&:nth-of-type(4)
					.g-line-info
						display block
						top $rem(213px)
						left $rem(594px)

		button.left
			left $rem(556px)

	&.state-2
		.state3
			enabled()
	&.state-3
		.state2
			disabled()
		.state3
			enabled()


	&.state-2
	&.state-3
		h3
			width $rem(991px)
			margin-bottom $rem(3px)
			font-size $rem(17px)
			letter-spacing $rem(.1px)
		.g-scale-v
			li
				&:nth-of-type(6)
					&:after
						content ''
						position absolute
						left 0
						bottom $rem(14px)
						width 100%
						border-bottom $rem(1px) solid color_brand_blue
						z-index 1
		.point-values
		.graph-text-block
			display block
		.g-lines
			.g-line
				&:nth-of-type(1)
					background url("assets/images/line2.png") $rem(7px) 97% / 99% auto no-repeat
				&:nth-of-type(1)
				&:nth-of-type(2)
					.g-line-info
						display none
				&:nth-of-type(3)
					.g-line-info
						display block
						top $rem(42px)
						left $rem(593px)
				&:nth-of-type(4)
					.g-line-info
						display block
						top $rem(213px)
						left $rem(594px)
		button.left
			left $rem(556px)

	&.state-3
		.g-scale-v
			li
				&:nth-of-type(6)
					&:after
						content none
		.point-values
			> p
				&:nth-of-type(-n+4)
					display none
