include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines
include ../../pug_fragments/graph-columns-bar
include ../../pug_fragments/skew

-
	var
	modals = ['StartStrong30B1PopupSlide', 'StartStrong30A1PopupSlide', 'StartStrong30C1PopupSlide']
	slideshow = ['start_strong_30b_inline', null, 'start_strong_30c_inline']
	type = ['inline', 'popup', 'inline']
	lineClasses  = ['element-blue', 'element-gray', 'element-blue', 'element-gray']
	legendColors = ['legend-blue', 'legend-gray']

article#StartStrong30Slide.slide
	h1 !{headline}
	h2 !{lead_paragraph}
	.content-wrapper
		h3 !{headline3.main}
		+graph(graph, legendColors)
			+setGraphLines(graph.lines, lineClasses)
			.wrap-interactive-buttons
				button.arrow-btn.plus.state2
				button.arrow-btn.plus.state3
				button.arrow-btn.left.gold
				.graph-text-block
					p.graph-text-data
		.wrap-buttons
			each btn, key in buttons
				.wrap-open-popup
					p !{btn}
					if type[key] == 'inline'
						button.arrow-btn.open-popup(data-viewer='slideshow' slide=modals[key] href=slideshow[key])
					else
						button.arrow-btn.open-popup(data-popup=modals[key])
