include ../../pug_fragments/big-number

article.slide#StartStrong33Slide
	h1 !{headline}
	h2 !{lead_paragraph}
	button.arrow-btn.left.previous-slide
	.content-wrapper
		.left-side
			.graph-wrapper
				figure
					figcaption !{left_side.figcaption}
					.wrap-number
						+bigNumber(left_side.number, '', 'gold')
						mark !{left_side.text}
		.right-side
			each figure, key in figures
				.graph-wrapper
					figure
						if figure.label
							figcaption !{figure.label}
						+bigNumber(figure.number, '%', 'gold')
						p.fig-text !{figure.bottom_text}