@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'
@import '../../global_styles/marked-lines'

_markedArray = (0 10 22)

#StayStrong41A3PopupSlide
	h1
		margin-right 111px
		height $rem(70px)
		letter-spacing $rem(-.1px)
		line-height 1.2
	h2
		letter-spacing 0
		line-height 1.2
		color color_blizzard_blue
	figure
		padding $rem(78px) $rem(195px)
	.items
		padding-left $rem(8px)
	.item-image
		&:nth-of-type(2)
			margin 0 $rem(12px) 0 $rem(6px)
	.product-name
		padding $rem(25px) $rem(60px) 0 0
	.dashed-lines
		margin $rem(15px) $rem(177px) 0 $rem(1px)
		markedLines(_markedArray)
