@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#StartStrong30B5PopupSlide
	h1
		right 6px
	.chapter-criteria-list
		margin $rem(63px) $rem(73px) $rem(0)
		dt
			text-transform uppercase