include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines
include ../../pug_fragments/graph-columns-bar
include ../../pug_fragments/skew

-
	var
		lineClasses  = ['element-blue', 'element-yellow']
		legendColors = ['legend-yellow', 'legend-blue']

article#StayStrong40A1PopupSlide.slide
	each headline in headlines
		h1 !{headline}
	+graph(graph, legendColors)
		+setGraphLines(graph.lines, lineClasses)
		.g-legends
			each legend, _class in graph.graph_additional_legends
				.g-legend-extended(class=_class)
					+skewText(legend.caption).caption
					.legend-content
						each item in legend.list
							li
								+skewText(item)
		.control-buttons
			button(data-goto-state="first").arrow-btn.plus
			button(data-goto-state="second").arrow-btn.plus
			button(data-goto-state="third").arrow-btn.plus