@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

bars = (12 90) (25 35) (20 30) (2 5) (6 200) (1 20) (3 4)
scaleHMargins = 13 27 26 107 158 158

setPosition(_top, _left)
	top $rem(unit(_top,"px"))
	left $rem(unit(_left,"px"))

#StayStrong40A1PopupSlide
	padding 0 $rem(50px) $rem(50px) $rem(50px)
	h1
		height $rem(67px)
		margin 0 $rem(57px) $rem(23px) $rem(-49px)
		line-height 1.1
		display none

	.figure-fragment
		margin 0 $rem(50px)
	.content-wrapper
		padding $rem(54px) $rem(230px) $rem(107px) $rem(104px)
	.g-legend-extended
		display none
		.caption
			letter-spacing -.3px
			p
				text-align left
		.legend-content b sup
			font-size 40%
		&.first
			setPosition(79, 52)
			width $rem(157px)
			.caption
				width $rem(178px)
				padding 0
				min-height $rem(26px)
				p
					padding-left $rem(10px)
		&.second
			setPosition(61, 115)
			.caption
				width $rem(273px)
				height $rem(43px)
				p
					text-indent $rem(10px)
		&.third
			setPosition(99, 54)
			width $rem(122px)
			.caption
				min-height $rem(20px)
				width $rem(138px)
				b
					font-size $rem(11px)
			p
				font-size $rem(11px)
			.legend-content
				b
					font-size $rem(18px)
				li
					min-height $rem(25px)
		&.fourth
			setPosition(79, 259)
			.caption
				width $rem(188px)
				min-height $rem(25px)

	.graph
		height $rem(176px)
		.point_values
			display none
		.g-scale-v
			z-index 0
		.g-scale-h li
			for _margin, index in scaleHMargins
				&:nth-of-type({index+1})
					margin-right $rem(unit(_margin, "px"))
			&:before
				height $rem(9px)
		.graph-blocks
			padding-left $rem(1px)
			&:after
				position absolute
				display block
				background-color color_brand_yellow4
				height 100%
				width 35%
		.block
			&:first-of-type
				width 13.6%
				background-color transparent
				p
					line-height 1.15
					margin-bottom $rem(6px)
			&:last-of-type
				width 86.4%
				background-color rgba(color_brand_blue7, .9)
				p
					background-color rgba(color_brand_blue7, .9)
		.g-lines
			.g-line
				&:first-of-type
					background url("assets/images/first-line.png") $rem(7px) 83%/495px auto no-repeat
					background-size $rem(495px) auto
					.g-line-info
						top $rem(35px)
						.g-line-value
							&:after
								background url("../../shared/images/vivid.png") 50% 50% / auto 100% no-repeat
								bottom $rem(1px)
								margin-left $rem(11px)
				&:last-of-type
					background url("assets/images/second-line.png") $rem(3px) 95%/356px auto no-repeat
					background-size $rem(356px) auto
					.g-line-info
						setPosition(-13, 363)
					.g-line-additional
						border-color color_brand_yellow
					.g-line-name
						font-size $rem(18px)
						margin-top $rem(-27px)
	.control-buttons
		display flex
		position absolute
		bottom $rem(-96px)
		left $rem(10px)
		width $rem(346px)
		justify-content space-between
		button:last-of-type
			margin-left $rem(20px)

	&.state-default
		h1:first-of-type
			display block
	&.state-first
		h1:last-of-type
			display block
		.block:first-of-type
			background-color color_brand_yellow4
			p
				background-color transparent
		.g-legend-extended.first
			display block
		.footnotes
			.a, .b
				visibility visible
	&.state-second
		h1:last-of-type
			display block
		.g-legend-extended.second
			display block
		.footnotes
			.a
				visibility visible
		.graph-blocks:after
			content ""
			left $rem(1px)
	&.state-third
		h1:last-of-type
			display block
		.g-legend-extended
			&.third, &.fourth
				display block
		.footnotes
			bottom $rem(79px)
			.a, .b, .c, .d
				visibility visible
		.graph-blocks:after
			content ""
			left $rem(173px)
			width 32.5%