@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'
@import '../../global_styles/oblique-tile'

col_widths = $rem(219px) $rem(92px) $rem(89px) $rem(91px) $rem(92px) $rem(88px) $rem(86px)
$_setColWidth()
	for _width, index in col_widths
		&:nth-of-type({index + 1})
			width _width

#StartStrong30B3PopupSlide
	h1
		right 6px
	.table-global
		margin $rem(19px) auto $rem(59px) $rem(102px)
		width $rem(820px)
		line-height 1
		col
			$_setColWidth()
		thead
			tr:nth-of-type(1)
				th
					height $rem(50px)
			tr:nth-of-type(2)
				height $rem(44px)
				th
					padding-left 0
					padding-right 0
			.vivid
			.vista
				background-size auto 82%
				width $rem(290px)
		tbody
			th
				height $rem(30px)
				padding-left $rem(8px)
				padding-right 0
			tr
				for _value in (5 6 7 8)
					&:nth-of-type({_value})
						th
							padding-left $rem(22px)
