include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines
include ../../pug_fragments/skew

-
	var
	lineClasses  = ['element-gray', 'element-light-blue']
	legendColors = ['legend-light-blue', 'legend-gray']

article#StartStrong34B1PopupSlide.slide
	.fake-menu
		button !{crt}
	p.sub-text !{lead_text}
	h1 !{headline}

	+graph(graph, legendColors).top-scale
		+setGraphLines(graph.lines, lineClasses)
