@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#RecentInsights12Slide
	.paradigma
		height $rem(136px)
		width $rem(645px)
	.shaped
		shape-outside polygon(0 0, 100% 0%, 55% 100%, 0% 100%)