@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#StayStrong41A2PopupSlide
	h1
		margin-right $rem(104px)
		letter-spacing 0
		strong
			color color_brand_yellow

	.content
		padding $rem(22px) $rem(103px) 0 $rem(100px)

	.lead-paragraph
		padding 0 $rem(70px) 0 0
		margin-bottom $rem(21px)
		font 400 $rem(18px) / 1.2 Arial
		letter-spacing 0
		color color_brand_blue12
		span
			text-transform none

	.label-wrapper
		position relative
		margin 0 auto $rem(20px) $rem(154px)
		width $rem(516px)
		height $rem(250px)
		background url(assets/images/label-background.png) center center / contain no-repeat
	.label
		position absolute
		top $rem(51px)
		left $rem(50px)
		width $rem(382px)
		display flex
		flex-direction column
		transform rotateZ(-4deg)
		transform-origin top left
		p
			font-weight 700

	.top-caption
		font-size $rem(15px)
	.main-caption
		margin $rem(32px) auto $rem(10px) $rem(19px)
		padding $rem(7px) $rem(10px)
		font-size $rem(27px)
		text-transform uppercase
		color color_brand_yellow
		background-color color_brand_blue11
	.bottom-caption
		text-align right
		font-size $rem(12px)
		color color_brand_blue11

	.summary
		margin-bottom $rem(14px)
		padding 0 $rem(20px)
		text-align center
		font italic 700 $rem(16px) / 1.2 Arial

	.note
		text-align center
		font 400 $rem(13px) / 1.1 Arial
		color color_brand_blue12
