@import 'color-scheme'
@import 'utils'

arrowBox(color = color_brand_white, height = 61, width = 125, color_text = color_brand_yellow, type = 23, angle = 52)
	$_wrapWidth = width + type
	.arrow-wrap
		position relative
		overflow hidden
		width unit($_wrapWidth, 'px')

	.arrow-box
		position relative
		height unit(height, 'px')
		width unit(width, 'px')
		border $rem(1px) solid color
		border-right none
		font-size $rem(11px)
		padding $rem(7px) 0 $rem(10px) $rem(10px)
		strong
			color color_text
			font-weight 700
			font-size $rem(15px)
			line-height 1.3
	.tr
		width 100%
		height unit(height, 'px')
		position absolute
		top 0
		overflow hidden
		&:after
		&:before
			content ''
			height $rem(1px)
			width $rem(50px)
			transform-origin right center
			position absolute
			right 0
			top 50%
			background-color color
		&:after
			transform rotate(unit(angle, 'deg'))
		&:before
			transform rotate(unit(- angle, 'deg'))