commonStylesForSections()
	overflow hidden
	.wrapper
		width 100%
		height 100%
		transform translate3d(0,0,0)
	h1
		color color_brand_yellow
		margin 0
		padding 0
		font 700 $rem(40px)/1em arial
	section
		position relative
		display flex
		> div
			transform skew(-17deg) translate3d(0,0,0)
			border-bottom $rem(13px) solid color_brand_yellow2
		.content
			transform skew(17deg) translate3d(0,0,0)
		.description
			display flex
			justify-content center
			align-items center
			color color_brand_blue
		&:first-of-type
			.description
				border-bottom-color color_brand_yellow3
		&:nth-of-type(2)
			.description
				border-bottom-color color_brand_olive2
		&:last-of-type
			.description
				background-color rgba(color_blizzard_blue, .95)
			h1
				color color_blizzard_blue
			> div
				border-bottom none