@import 'color-scheme'
@import 'utils'
#overlay-popup-custom
	position absolute
	right 0
	left 0
	top 0
	padding $rem(135px) 0 $rem(82px) 0
	opacity 0
	z-index 11
	pointer-events none
	transition opacity 0.5s
	.ag-overlay-background
		background-color color_brand_blue1
	&.state-ag-overlay-open
		opacity 1
		pointer-events auto
.custom-popup
	position relative
	height 100%
	.ag-overlay-content
		overflow auto
		&:after
		&:before
			content ''
			position absolute
			height $rem(1px)
			left 0
			right 0
			z-index 1
		&:before
			top 0
			background content_wrapper_gradient
		&:after
			bottom 0
		.slide
			padding $rem(9px) 0 0 0
			background linear-gradient(to right, color_brand_blue2, color_brand_blue1)
	.slide h1
		position relative
		padding $rem(13px) 0 0 $rem(100px)
		margin 0 $rem(100px) 0 0
		height $rem(45px)
		font 700 $rem(20px) Arial
		line-height $rem(20px)
		color color_brand_white
	.sub-header
		padding $rem(22px) $rem(45px) 0 $rem(100px)
		font 400 $rem(18px) Arial
		line-height $rem(18px)
		color color_brand_dark_gray
	h1 + .graph-wrapper
		margin-top $rem(8px)
	.sub-header + .graph-wrapper
		margin-top $rem(21px)
	.info-text + .graph-wrapper
		margin-top $rem(21px)
	.info-text
		padding $rem(12px) 0 0 $rem(100px)
	.ag-overlay-x
		top $rem(68px)
		right $rem(50px)
		width $rem(45px)
		height $rem(45px)
		background url("../../shared/images/popup-close-icon.png") center / contain no-repeat
