@import "color-scheme"
@import "utils"
@import "../global_styles/linear-slider"

.discussion
.recent-insights
	width 100%
	height 100%
	position absolute
	top 0
	z-index -1
.discussion
	background url(assets/images/discussion.jpg) 0 0 / 100% 100% no-repeat
.recent-insights
	background url(assets/images/recent-insights.jpg) 0 0 / 100% 100% no-repeat
&.slide
	.paradigma-header
		padding-top $rem(18px)
		margin-bottom 51px
		font-size $rem(43px)
		text-shadow 0 0 $rem(3px) color_brand_blue
	.content-caption
		margin 0
		font italic 600 $rem(19px) / 1 Arial
		letter-spacing $rem(.6px)
		color color_blizzard_blue
	.paradigma-wrapper
		width 100%
		height $rem(366px)
		display flex
		flex-direction column
		align-items center
		justify-content center
	.paradigma
		.shaped
			width $rem(73px)
			height 100%
			float left
			shape-outside polygon(0 0, 100% 0%, 65% 100%, 0% 100%)
		p
			font 400 $rem(27px) / 1.3 Arial
			letter-spacing $rem(.2px)