@import 'color-scheme'
@import 'utils'

setColWidth(array)
	for item, index in array
		&:nth-of-type({index + 1})
			width $rem(item)

rowsPosition(colStart,colEnd,markedArray,leftItem,rightItem,specItem=0)
	tbody
		tr
			&:nth-of-type(3)
				td:before
					background-color color_brand_blue3
				td:nth-of-type({specItem})
					&:before
						height $rem(12px)
						width @height
						border $rem(2px) color_brand_blue3 solid
						background-color color_brand_white
			&:nth-of-type(2)
				td:before
					background-color color_brand_gold2
			&:nth-of-type(4)
				td:before
					background-color color_brand_dark_gray
			&:last-of-type
				for item in (colStart..colEnd)
					td
						&:nth-of-type({item})
							background-color color_brand_gray
			&:not(:first-of-type)
				td
					for item in (markedArray)
						&:nth-of-type({item})
							&:after
								left leftItem + '%'
							&:before
								content ''
								position absolute
								display block
								top 50%
								height $rem(12px)
								width @height
								border-radius 50%
								transform translate3d(-50%,-50%,0)
								left rightItem + '%'