@import 'color-scheme'
@import 'utils'

_customCircle()
	content ''
	position absolute
	display block
	top 50%
	height $rem(12px)
	width @height
	border-radius 50%
	transform translate3d(-45%,-50%,0)
_circlesParam()
	.circle1:after
		background-color color_brand_gold2
	.circle2:after
		background-color color_brand_blue3
	.circle3:after
		height $rem(12px)
		width @height
		border 2px color_brand_blue3 solid
		background-color color_brand_white
	.circle4:after
	.circle5:after
		background-color color_brand_dark_gray
.schedule
	position relative
	margin-bottom $rem(15px)
	font 700 $rem(12px) / 1.2 Arial
	letter-spacing -1px
	color color_brand_blue3
	th, td
		text-align center
		position relative
		white-space nowrap
	th
		padding $rem(10px) $rem(9px)
		font-weight bold
		text-align right
	thead
		th
			padding $rem(7px) $rem(9px)
			color color_brand_white
			text-align center
			&:nth-of-type(2)
				background-color color_brand_blue3
			&:nth-of-type(3)
				background-color color_brand_blue9
			&:nth-of-type(4)
				background-color color_brand_blue8
	tbody
		tr:first-of-type
			td
				padding $rem(10px) $rem(5px)
		tr:nth-of-type(3)
			border-bottom $rem(7px) solid color_brand_white
		tr
			td
				padding $rem(12px) 0
	tfoot
		td
			padding-top $rem(40px)

	.circle1:after, .circle2:after, .circle3:after, .circle4:after
		_customCircle()
		left 50%
	_circlesParam()
	.arrow
		&:before
			content ''
			position absolute
			width 0
			height 0
			left 50%
			top $rem(7px)
			transform translate3d(-50%,0,0)
			border-left $rem(10px) solid transparent
			border-right $rem(10px) solid transparent
			border-top $rem(20px) solid
.schedule-legend
	display flex
	flex-wrap wrap
	height $rem(63px)
	flex-direction column
	font 400 $rem(12px) / 1 Arial
	color color_brand_blue3
	letter-spacing $rem(-0.6px)
	padding-left $rem(29px)
	p
		position relative
		width 47%
		padding $rem(4px) 0 $rem(4px) 0
		&:nth-of-type(odd)
			width 53%
		&:after
			_customCircle()
			right 100%
	_circlesParam()
	.circle5:before
		content ''
		position absolute
		display block
		top 50%
		right 100%
		height $rem(18px)
		width $rem(20px)
		background-color color_brand_gray
		transform translate3d(-10%,-50%,0)