@import 'color-scheme'
@import 'utils'

$setProperties(_textColor, _bgColor)
	color _textColor
	background-color _bgColor

.table-global
	position relative
	font 600 $rem(13px) / 1.2 Arial
	letter-spacing $rem(.5px)
	color color_brand_white
	th, td
		padding $rem(10px)
		text-align center
		position relative
	th
		font-weight bold
	thead
		th
			&:first-of-type
			&:nth-of-type(3n+4)
			&[colspan='3']
				border-right $rem(10px) solid transparent
			&[colspan='3']
				border-bottom $rem(10px) solid transparent

	tbody
		tr
			&:nth-of-type(2)
			&:nth-child(2n+5)
					td, th
						background-color color_brand_blue9
			th
				text-align left
				padding 0 $rem(10px)
				border-right $rem(10px) solid transparent
			td
				&:nth-of-type(3n+3)
					border-right $rem(10px) solid transparent

	.blue
		$setProperties(color_brand_white, color_brand_blue)
	.white
		$setProperties(color_brand_blue, color_brand_white)
	.gray
		$setProperties(color_brand_gray, color_brand_light_gray)
	.light-gray
		$setProperties(color_brand_dark_gray_2, color_brand_light_gray_2)
	.yellow
		$setProperties(color_brand_blue, color_brand_yellow)
	.vivid
		background color_brand_white url(../../shared/images/vivid.png) center center / auto 100% no-repeat
	.vivid-east
		background color_brand_white url(../../shared/images/vivid-east.png) center center / auto 85% no-repeat
		height $rem(47px)
	.vista
		background color_brand_white url(../../shared/images/vista.png) center center / auto 100% no-repeat
	.vivid
	.vista
		height $rem(38px)