@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'
@import '../../global_styles/oblique-tile'

scaleHMargins = 19 18 18 18 18 18 18 18 18 18 18 18 18 72 72 89

#StayStrong40A2PopupSlide
	h2
		font-size $rem(13px)
		margin $rem(10px) 0 0 $rem(50px)
	h1
		margin 11px 113px 22px 0
	.figure-fragment
		margin 0 $rem(101px) 0 $rem(100px)
	.content-wrapper
		padding $rem(75px) $rem(265px) $rem(40px) $rem(89px)

	.graph
		height $rem(205px)
		.g-scale-v
			&:before
				margin-right $rem(43px)
			p
				padding-bottom $rem(44px)
			li
				white-space nowrap
		.g-scale-h
			li
				for _margin, index in scaleHMargins
					&:nth-of-type({index+1})
						margin-right $rem(unit(_margin, "px"))
				span
					padding-bottom $rem(10px)
			p
				padding-right 0
		.g-lines
			.g-line-value
				margin-right $rem(17px)
			.g-line-name
				font-size $rem(18px)
			.g-line
				width 101%
				&:first-of-type
					background url("assets/images/line.png") $rem(3px) 1%\/$rem(483px) auto no-repeat
					.g-line-info
						top $rem(126px)
						left $rem(488px)