include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines
include ../../pug_fragments/graph-columns-bar
include ../../pug_fragments/skew

-
	var
	lineClasses  = ['element-blue', 'element-light-gray']
	legendColors = ['legend-blue', 'legend-light-gray']
	popups = [{href:"stay_strong_40b_inline",slide:"StayStrong40B1PopupSlide"},{href:"stay_strong_40c_inline",slide:"StayStrong40C1PopupSlide"},{href:"stay_strong_40a_inline",slide:"StayStrong40A1PopupSlide"}]

article.slide#StayStrong40Slide
	h1 !{headline}
	//h2 !{sub_headline}
	//h3 !{lead_paragraph}
	+graph(graph, legendColors)
		+setGraphLines(graph.lines, lineClasses)
		.g-legends
			each legend, _class in graph.graph_additional_legends
				.g-legend-extended(class=_class)
					+skewTextExtends(legend.caption_left,legend.caption_right).caption
					.legend-content
						.top
							+skewText(legend.list[0])
		.control-buttons
			button(data-goto-state="first").arrow-btn.state-btn.plus
			button(data-goto-state="second").arrow-btn.state-btn.plus
			button(data-goto-state="third").arrow-btn.state-btn.plus
	.wrap-open-popup
		each item, index in bottom_btns
			p !{item}
			button.arrow-btn.open-popup(data-viewer='slideshow', href=popups[index].href, slide=popups[index].slide)
