@import '../../global_styles/start-strong-30c-fragment'
@import '../../global_styles/utils'
@import '../../global_styles/color-scheme'

_linesProps = { path: url(assets/images/line2.png), positionX: $rem(7px), positionY: 6%, sizeX: 98.2%, sizeY: auto } { path: url(assets/images/line1.png), positionX: $rem(2px), positionY: 17%, sizeX: 99.5%, sizeY: auto }

#StartStrong30C3PopupSlide
	@extends _stylesFragment
	h1
		height $rem(45px)

	.content-wrapper
		 padding $rem(93px) $rem(237px) $rem(60px) $rem(98px)

	.graph
		height $rem(165px)
		.g-lines
			_setLines(_linesProps)
		.g-scale-v
			&:before
				margin-right $rem(44px)
			.g-scale-label
				padding-bottom $rem(44px)
		.g-line
			&:first-of-type
				.g-line-info
					top $rem(52px)
				.g-line-value:after
					content none
			&:last-of-type
				.g-line-info
					top $rem(136px)
				.g-line-value:after
					background url(../../shared/images/dme_vista_logo.png) 50% 50% / auto 100% no-repeat