include ../../pug_fragments/start-strong-30c-fragment

-
	var
		slideStrings = {
			headline: headline,
			leadText: globals.start_strong_30c_inline_strings.lead_text,
			graph: Object.assign({}, globals.start_strong_30c_inline_strings.graph, graph)
		}

		lineClasses  = ['element-gray small-value', 'element-blue']

article#StartStrong30C3PopupSlide.slide
	+buildFragment(slideStrings, lineClasses).top-scale