@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

graph_wrapper_gradient_to_left = linear-gradient(to left, rgba(color_brand_yellow, 0.8), rgba(color_brand_white, 0) 100%)
graph_wrapper_gradient_to_right = linear-gradient(to right, rgba(color_brand_yellow, 0.8), rgba(color_brand_white, 0) 100%)

#UniqueMoA50B5PopupSlide
	h1:before
		right 6px
	ul
		margin $rem(25px) $rem(100px) $rem(0) $rem(100px)
	li
		position relative
		width 100%
		padding $rem(26px) $rem(52px) $rem(24px) $rem(31px)
		font 400 $rem(18px) \/ $rem(22px) Arial
		background linear-gradient(to bottom, rgba(color_blizzard_blue, .25), rgba(color_brand_blue1, 0))
		&:before
			content ""
			position absolute
			top 0
			left 0
			height $rem(2px)
			width 100%
			background-image graph_wrapper_gradient_to_left
		&:nth-of-type(2n)
			&:before
				background-image graph_wrapper_gradient_to_right
		&:last-of-type
			&:after
				content ""
				position absolute
				bottom 0
				left 0
				height $rem(2px)
				width 100%
				background-image graph_wrapper_gradient_to_left