@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

$tableWidth = 365px 109px 104px 104px
setTableWidth(array)
	colgroup
		for w, index in array
			col:nth-of-type({index+1})
				width $rem(w)

#StartStrong35A3PopupSlide
	h1
		margin-right $rem(106px)
		letter-spacing 0
		sup
			text-transform none
	.content
		padding $rem(111px) $rem(14px) 0 $rem(174px)
	setTableWidth($tableWidth)
	thead
		tr:first-of-type
			th
				border-bottom 0.625rem solid transparent
				padding $rem(12px) $rem(5px) $rem(13px) $rem(5px)
		tr:last-of-type
			th
				padding $rem(8px) $rem(5px) $rem(9px) $rem(5px)
	tbody
		tr:last-of-type
			th,td
				background-color color_brand_blue9
	th
		&.yellow
			font-size $rem(16px)
		&.gray
			color color_brand_white
			background-color color_brand_gray
		&:not(:first-child)
			border-right none
	td
		padding $rem(9px) $rem(5px) $rem(9px) $rem(5px)
		border none
		&:first-child
			border-right 0.625rem solid transparent