@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#Discussion69Slide
	.paradigma
		height $rem(137px)
		width $rem(698px)
	.shaped
		shape-outside polygon(0 0, 100% 0%, 55% 100%, 0% 100%)