include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines
include ../../pug_fragments/graph-columns-bar
include ../../pug_fragments/skew

-
	var
		states = ['mead', 'bevordex', 'callanan']
		legendColors = ['legend-yellow']
		lineClasses  = ['element-blue','element-blue','element-blue']

article.slide#UniqueMoA50B3PopupSlide
	h1 !{headline}
	+graph(graph, legendColors)
		+setGraphLines(graph.lines, lineClasses)
		.buttons-wrapper
			each button, index in buttons
				.button-wrapper
					button.arrow-btn.plus(data-goto-state=states[index])
					span !{button}
		p.dose-indicator !{dose}
