@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

$dashed_line = repeating-linear-gradient(0deg, #043b5b, #043b5b $rem(1px), #043b5b 0, #FFFFFF $rem(4px))
$after_style
	content ''
	position absolute
	bottom 0
	background $dashed_line
	height $rem(130px)
	width $rem(1px)
$disable_button
	opacity .2
	button
		&:after
			background url("../../shared/images/minus.png") center / 54% no-repeat
#UniqueMoA50B3PopupSlide
	h1
		font-size $rem(18px)
		line-height 1.2
		letter-spacing $rem(-.6px)
		height $rem(68px)
		margin-right 110px
	.figure-fragment
		margin $rem(24px) $rem(100px) $rem(10px) $rem(100px)
		.content-wrapper
			padding $rem(33px) $rem(96px) $rem(133px) $rem(103px)
	.graph
		height $rem(190px)
		.g-scale-v
			li
				span
					padding-right $rem(13px)
			.g-scale-label
				line-height 1.2
				padding-bottom $rem(36px)
			li:before
				width $rem(9px)
		.g-scale-h
			ul
				width $rem(500px)
			li:before
				height $rem(9px)

		.g-lines
			left $rem(-6px)
			.g-line
				opacity 0
				z-index 1
				width 512px
				background url("assets/images/line-1.png") left bottom / 100% auto no-repeat
			.g-line:nth-child(2)
				background-image url("assets/images/line-2.png")
			.g-line:nth-child(3)
				background-image url("assets/images/line-3.png")
			.g-line-info
				top $rem(88px)
				margin-left $rem(16px)
			.g-line-value
				font-size $rem(14px)
				line-height 2.5
	.button-wrapper
	.buttons-wrapper
		display flex
		align-items center
	.buttons-wrapper
		position absolute
		top 100%
		margin $rem(64px) 0 0 $rem(60px)
		width $rem(494px)
		justify-content space-between
	.button-wrapper
		span
			font 700 $rem(15px) Arial
			color color_brand_blue8
	button
		margin-right $rem(10px)
	.dose-indicator
		position absolute
		top 100%
		margin-top $rem(52px)
		color color_brand_blue
		font 700 $rem(11px) Arial
		transform translate3d(-50%, 0, 0)
		&:before
			content ''
			position absolute
			bottom 100%
			left 50%
			width 0
			height 0
			margin-bottom $rem(8px)
			border-style solid
			border-width 0 $rem(7px) $rem(15px) $rem(7px)
			border-color transparent transparent color_brand_yellow transparent
			transform translate3d(-50%, 0, 0)
	.footnote
		font-size $rem(11px)
		padding 0 0 $rem(98px) $rem(100px)
	&.state-mead
		.button-wrapper:first-of-type
			@extends $disable_button
		.graph
			.g-lines
				.g-line:nth-child(1)
					opacity 1
			.g-scale-h
				li:nth-child(3n)
				li:nth-child(3n-1)
					display none
				li:nth-child(4)
					&:after
						@extends $after_style
	&.state-bevordex
		.button-wrapper:nth-child(2)
			@extends $disable_button
		.graph
			.g-lines
				.g-line:nth-child(2)
					opacity 1
					width $rem(345px)
				.g-line-info
					top $rem(98px)
					margin-left $rem(11px)
			.g-scale-h
				li
					&:nth-child(2n)
						display none
					&:nth-last-child(3)
					&:last-child
						opacity 0
				li:nth-child(5)
					&:after
						@extends $after_style
						height $rem(146px)
	&.state-callanan
		.button-wrapper:nth-child(3)
			@extends $disable_button
		.graph
			.g-lines
				.g-line:nth-child(3)
					opacity 1
					width $rem(429px)
				.g-line-info
					top $rem(98px)
					margin-left $rem(15px)
			.g-scale-h
				li
					&:nth-child(2n)
						display none
					&:last-child
						opacity 0
				li:nth-child(5)
					&:after
						@extends $after_style
						height $rem(120px)