article.slide#UniqueMoA50A5PopupSlide
	h1 !{headline}
	figure
		figcaption !{figure.name}
		.figure-content
			.left-part
				each item in figure.left_part
					p !{item}
						span.line
			.right-part
				each item in figure.right_part
					.dimer-wrapper
						p !{item}
	.oblique-tile
		p !{foot_text}