include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines
include ../../pug_fragments/graph-columns-bar
include ../../pug_fragments/skew

-
	var
	modals = ['StartStrong34A1PopupSlide', 'StartStrong34B1PopupSlide']
	lineClasses  = ['element-light-blue', 'element-gray']
	legendColors = ['legend-gray', 'legend-light-blue']

article#StartStrong34Slide.slide
	h1 !{headline}
	h2 !{lead_paragraph}
	.content-wrapper
		h3 !{sub_lead_paragraph}
		+graph(graph, legendColors)
			+setGraphLines(graph.lines, lineClasses)
		.wrap-buttons
			each btn, key in buttons
				.wrap-open-popup
					p !{btn}
					if key == 0
						button.arrow-btn.open-popup(data-viewer="slideshow" href="start_strong_34a_inline" slide="StartStrong34A1PopupSlide")
					else
						button.arrow-btn.open-popup(data-popup=modals[key])
