@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#StartStrong34Slide
	h2
		margin-bottom $rem(29px)
	h3
		position relative
		top $rem(-16px)
		width $rem(681px)
	.content-wrapper
		padding-bottom $rem(70px)
	.figure-fragment
		margin $rem(1px) $rem(50px) 0 $rem(47px)
		.content-wrapper
			padding $rem(68px) $rem(271px) $rem(83px) $rem(112px)
	figcaption
		width $rem(684px)
	.graph
		height $rem(243px)
		.point_values
			display none
		.block
			&:first-of-type
				width 39%
				background-color transparent
			&:last-of-type
				width 63%
				background-color rgba(color_brand_blue14, .6)
				p
					background-color color_brand_blue14
	.g-scale-h
		li
			&:nth-of-type(6)
				margin-right $rem(294px)
	.g-lines
		z-index 2
		.g-line
			.g-line-info
				margin-left $rem(8px)
				p
					padding-left $rem(6px)
					font-size $rem(34px)
					letter-spacing 0.4px
				.g-line-value
					position relative
					width $rem(120px)
					&:after
						content ''
						position absolute
						top 0
						right 100%
			&:first-of-type
				background url(assets/images/line2.png) $rem(4px) $rem(55px) /\ $rem(553px) auto no-repeat
				.g-line-info
					top $rem(-10px)
					.g-line-value
						&:after
							width $rem(85px)
							height $rem(53px)
							margin $rem(-5px) 0 0 $rem(16px)
							background url(../../shared/images/vivid-east.png) top left / contain no-repeat
			&:last-of-type
				background url(assets/images/line1.png) $rem(4px) $rem(23px) /\ $rem(553px) auto no-repeat
				.g-line-info
					top $rem(55px)
					.g-line-value
						width $rem(110px)
						color color_brand_white
						background-color color_brand_blue15
						p
							font-size $rem(30px)
						&:after
							width $rem(51px)
							height $rem(51px)
							margin $rem(-12px) 0 0 $rem(16px)
							opacity .4
							background url(../../shared/images/vivid.png) top left / contain no-repeat
	.wrap-buttons
		display flex
		justify-content flex-start
		padding $rem(12px) 0 0 $rem(47px)
		.wrap-open-popup
			padding-top 9px
			.arrow-btn
				top 0
				right 0
			&:first-of-type
				margin-right $rem(50px)
