@import '../../global_styles/utils'
@import '../../global_styles/color-scheme'
@import '../../global_styles/colored-sections-slide'

paddings = (28 19 6) (35 21 0) (23 10)

#Discussion60Slide
	transform translate3d(0, 0, 0)
	commonStylesForSections()
	background url(../../shared/images/bike_bg.jpg) 0 0 / 100% auto
	padding-top $rem(90px)
	h1
		line-height 1.2
	.sections
		margin 0 0 0 $rem(-31px)
		height 100%
	.content
		width 100%
		font-size $rem(16px)
		span
			font-size $rem(35px)
			font-weight 700
		b
			font-size $rem(20px)
		p
			padding-bottom $rem(10px)
			padding-top $rem(14px)
			margin 0 $rem(18px) 0 $rem(20px)
			position relative
			&:last-of-type
				margin-bottom 0
				&:after
					content none
			&:after
				position absolute
				content ''
				width calc(100% - 16px)
				top 100%
				left 0
				border-bottom $rem(1px) solid rgba(color_brand_white, .4)

	.blending
		position absolute
		border none
		height 100%
		background-color color_brand_blue
		mix-blend-mode multiply
	section
		.description
			width $rem(589px)
			background-color rgba(255, 210, 0, 0.8)
			font 400 $rem(18px) / 1.2em Arial
		&:first-of-type
			height $rem(191px)
			h1
				text-indent $rem(-40px)
				padding $rem(46px) 0 0 $rem(112px)
			.blending
			.main-info
				width $rem(426px)
			.content
				p
					&:first-of-type
						padding-bottom $rem(2px)
						padding-top $rem(6px)
						font-size $rem(14px)
						&:after
							content none
						b
							font-size inherit
		&:nth-of-type(2)
			height $rem(185px)
			h1
				padding $rem(40px) 0 0 $rem(114px)
				text-indent $rem(-41px)
			.blending
			.main-info
				width $rem(368px)
			p:nth-of-type(1)
				padding-top $rem(4px)
				&:after
					left $rem(16px)
			p:nth-of-type(2)
				padding $rem(9px) 0 $rem(10px) $rem(21px)
				margin-bottom $rem(3px)
		&:last-of-type
			height $rem(179px)
			h1
				padding $rem(36px) 0 0 $rem(169px)
				text-indent $rem(-95px)
			.blending
			.main-info
				width $rem(312px)
		for sectionPaddings, i in paddings
			&:nth-of-type({i+1})
				.content p
					for _padding, j in sectionPaddings
						&:nth-of-type({j+1})
							padding-left unit(_padding, "px")