article.slide#Discussion60Slide
	.sections
		each section in sections
			section
				.blending
				.main-info
					.content
						h1 !{section.title}
				.description
					.content
						each text in section.descriptions
							p !{text}