include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines
include ../../pug_fragments/skew

-
	var
		legendColors = ['legend-blue', 'legend-gray', 'legend-light-gray']
		additionalLegendClasses = ['element-blue', 'element-gray', 'element-light-gray']

article#StayStrong40A3PopupSlide.slide
	h1 !{headline}
	.content
		p.lead-paragraph !{lead_paragraph}
		+graph(graph, legendColors)
			+setGraphLines(graph.lines)
			.g-legend-additional
				+skewText(graph.graph_additional_legend.caption).caption
				.legend-content
					each item, index in graph.graph_additional_legend.list
						li(class = additionalLegendClasses[index])
							+skewText(item)
		p.footnote !{footnote}