@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

scaleHMargins = 12 16 16 15 16 15 16 16 15 16 15 16 16 62 62 77

#StayStrong40A3PopupSlide
	h1
		padding $rem(12px) 0 $rem(55px) $rem(100px)
		margin-right $rem(108px)
		line-height 1.1
	.content
		margin $rem(22px) $rem(101px) 0 $rem(100px)
		position relative
	.lead-paragraph
		color color_blizzard_blue
		font-size $rem(18px)
		line-height 1.2
		padding 0
		text-transform initial
		margin-bottom $rem(18px)
	.content-wrapper
		padding $rem(33px) $rem(331px) $rem(67px) $rem(91px)

	.figure-fragment
		margin 0

	.graph
		height $rem(151px)
		.g-scale-h
			li
				for _margin, index in scaleHMargins
					&:nth-of-type({index+1})
						margin-right $rem(unit(_margin, "px"))
		.g-lines
			.g-line
				.g-line-info
					margin-left $rem(8px)
				&:first-of-type
					background url("assets/images/line1.png") $rem(5px) 51% / 98.6% auto no-repeat
					.g-line-info
						top $rem(15px)
				&:nth-of-type(2)
					background url("assets/images/line2.png") $rem(5px) 81% / 98.6% auto no-repeat
					.g-line-info
						top $rem(30px)
				&:last-of-type
					background url("assets/images/line3.png") $rem(3px) 97% / 99.3% auto no-repeat
					.g-line-info
						top $rem(50px)
		.g-line-name
			font-size $rem(13px)
	.g-legend-additional
		left $rem(462px)
		top $rem(9px)
		width $rem(193px)
		.caption
			width $rem(238px)
			text-indent $rem(5px)
			padding $rem(4px) 0 $rem(4px) $rem(7px)
			p
				line-height 1
			span
				font-size $rem(13px)
		.legend-content
			li
				padding $rem(1px) 0 $rem(2px) 0
				&:first-of-type
					padding-left $rem(10px)
			b
				font-size $rem(27px)
				sup
					font-size 35%
					top -0.2rem
					position relative
			p
				padding-left $rem(10px)
		.element-gray
			background-color color_brand_gray1
			color color_brand_blue3
		.element-light-gray
			color color_brand_dark_gray
	.g-legend
		display flex
		li
			margin-right $rem(30px)
	.footnote
		font-size $rem(11px)
		line-height 1.2
		bottom $rem(-75px)
		padding 0