@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

setLineStyle(image, posTop, posLeft, sizeW, infoTop)
	background url("assets/images/"+image) $rem(posTop) $rem(posLeft) /sizeW auto no-repeat
	.g-line-info
		top $rem(infoTop)

setValueLogo(image)
	.g-line-value:after
		background url("../../shared/images/"+image) top left / contain no-repeat

#StartStrong35Slide
	h1
		margin-bottom $rem(5px)
		letter-spacing $rem(.3px)
	.lead-paragraph
		margin-bottom $rem(18px)
		letter-spacing $rem(.3px)
	.sub-lead-paragraph
		margin-bottom $rem(19px)
		width $rem(818px)
		&:after
			transform skew(-45deg, 0deg)
	> .content-wrapper
		margin-top $rem(-33px)
		padding-top $rem(33px)
		height $rem(600px)
	.figure-fragment
		margin 0 $rem(51px) 0 $rem(48px)
	figcaption
		width 73.5%
	.g-legend-additional
		position absolute
		bottom $rem(10px)
		opacity 0
		pointer-events none
		transition opacity .5s .1s, transform .5s
		.caption
			font-size $rem(13px)
		&.initial
			left $rem(24px)
		&.extension
			left $rem(189px)
			.caption
				width $rem(256px)
	.graph
		height $rem(244px)
	.figure-fragment
		.content-wrapper
			padding $rem(45px) $rem(272px) $rem(102px) $rem(112px)
	.block
		&:first-of-type
			width 39%
			background-color white
		&:last-of-type
			width 61%
			background-color rgba(color_blizzard_blue, .2)
			p
				background-color rgba(color_blizzard_blue, .3)
	.g-scale-h ul
		li
			&:first-of-type
			/ &:nth-of-type(6) ~ li
				&:not(:last-of-type)
					&:before
						content none
	.g-line
		.g-line-name
			font-size $rem(19px)
		&:first-of-type
			setLineStyle("line-1.png", $rem(7px), $rem(55px), 98.5%, $rem(100px))
			setValueLogo("vivid.png")
			opacity .15
		&:nth-of-type(2)
			setLineStyle("line-2.png", $rem(2px), $rem(24px), 99.5%, $rem(36px))
			setValueLogo("vivid-east.png")
			opacity .4
		&:nth-of-type(3)
			setLineStyle("line-3.png", $rem(1px), $rem(11px), 99.5%, $rem(-23px))
	.g-line-value:after
		width $rem(85px)
		height $rem(53px)
	.g-legend li
		line-height 1.2
	.arrow-btn[data-goto-state]
		position absolute
		top 100%
		margin-top $rem(46px)
		left $rem(82px)
		&[data-goto-state="detail-2"]
			left $rem(353px)
	.popups-buttons
		position absolute
		display flex
		flex-direction column
		align-items flex-end
		justify-content space-between
		left 100%
		width $rem(300px)
		height $rem(78px)
		margin-left $rem(-70px)
		color color_brand_blue
		top 100%
		margin-top $rem(15px)
		p
			font-size $rem(18px)
			font-weight 700
			letter-spacing $rem(-.3px)
		button
			width $rem(36px)
			height @width
			&:after
				background url(../../shared/images/plus-popup.png) center center / 100% auto no-repeat

	&.state-detail-1
		.initial
			opacity 1
			pointer-events auto
		.block:first-of-type
			background-color rgba(color_brand_yellow, .2)
			p
				background-color color_brand_white
		.g-line
			opacity 1
		button[data-goto-state="detail-1"]:after
			background-image url(../../shared/images/minus.png)
	&.state-detail-2
		.extension
			opacity 1
			pointer-events auto
		.block
			&:first-of-type
				background-color rgba(color_brand_yellow, .2)
				p
					background-color color_brand_white
			&:last-of-type
				background-color rgba(color_brand_yellow, .2)
				p
					background-color rgba(color_blizzard_blue, .3)
		.g-line
			opacity 1
		button[data-goto-state="detail-2"]:after
			background-image url(../../shared/images/minus.png)