include ../../pug_fragments/paradigma-fragment
include ../../pug_fragments/linear-slider

article#RecentInsights14Slide.slide.recent-insights
	+newTreatmentParadigm(globals.recent_header, false, lead_paragraph)