include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines

-
	var
		lineClasses  = ['element-gray small-value', 'element-blue']
		legendColors = ['legend-blue', 'legend-gray']

article.slide#StayStrong40C2PopupSlide
	p.lead-paragraph !{lead_text}
	h1 !{headline}

	+graph(graph, legendColors).top-scale
		+setGraphLines(graph.lines, lineClasses)