@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#StartStrong32Slide
	h1
		margin-bottom $rem(6px)
	.lead-paragraph
		margin-bottom $rem(33px)
	.content-wrapper
		padding-top $rem(25px)
		height $rem(598px)
		position relative
	.graph-wrapper
		position relative
		height $rem(482px)
		padding 0 $rem(190px) 0 $rem(176px)
		&:before
		&:after
			height $rem(1px)
	.people-illustration
		position relative
		display flex
		justify-content space-between
		align-items center
		height $rem(178px)
		margin-bottom $rem(9px)
		img
			display block
			height $rem(160px)
		p
			font-size $rem(183px)
			mark:nth-of-type(2)
				letter-spacing $rem(-10px)
			span
				font-size $rem(27px)
				margin-left $rem(-10px)
	figure
		margin-bottom $rem(18px)
	figcaption
		text-align center
		font-size $rem(17px)
		padding-top $rem(24px)
		line-height 1.3
		border-top $rem(1px) solid color_brand_yellow
		mark:nth-of-type(2)
			font-size $rem(46px)
			line-height 1.1
	.dose-description
		font-size $rem(46px)
		line-height 1.1
		padding $rem(12px) 0 $rem(9px) $rem(8px)
		margin 0 $rem(7px)
		border-top $rem(1px) solid color_brand_yellow
		border-bottom $rem(1px) solid color_brand_yellow
		sup
			font-size $rem(16px)
			position relative
			top $rem(-5px)
	.right
		position absolute
		bottom $rem(35px)
		left 50%
		transform translate3d(-50%, 0, 0) rotate(90deg)
	.wrap-open-popup
		position absolute
		bottom $rem(52px)
		left $rem(47px)
		align-items center
		button
			width $rem(32px)
			height @width
			margin-left $rem(7px)

