include ../../pug_fragments/big-number

article.slide#StartStrong32Slide
	h1 !{headline}
	//p.lead-paragraph !{lead_text}
	.content-wrapper
		.graph-wrapper
			figure
				.people-illustration
					+bigNumber(value, valuePercent, "gold")
					img(src="assets/images/people.png")
				figcaption !{figcaption}
			p.dose-description !{description}
		button.arrow-btn.right.next-slide
	.wrap-open-popup
		p !{button}
		button.arrow-btn.plus-white(data-popup="StartStrong32APopupSlide")
