@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#Discussion64Slide
	.paradigma
		height $rem(136px)
		width $rem(745px)
	.shaped
		shape-outside polygon(0 0, 100% 0%, 55% 100%, 0% 100%)