include ../../pug_fragments/oblique-tile
include ../../pug_fragments/table-generator

article.slide#MostFrequentlyObservedSlide
	h1 !{headline}
	h2.lead-text !{lead_paragraph}
	.content-wrapper
		.graph-wrapper
			+tableGenerator(table, 2)
			.oblique_item
				.oblique-wrapper
					p.oblique-tile !{oblique_text.label}

