@import '../../global_styles/utils'
@import '../../global_styles/color-scheme'
@import '../../global_styles/oblique-tile'



#MostFrequentlyObservedSlide
	padding-top $rem(63px)
	colgroup
		col
			&:nth-of-type(1)
				width $rem(448px)
			&:nth-of-type(2)
				width $rem(285px)
	h1
		margin-bottom $rem(0px)
		line-height $rem(45px)
		letter-spacing $rem(-0.8px)
	h2
		margin-bottom $rem(29px)
		padding-top $rem(10px)
		font-size $rem(18px)
		color #fff
		letter-spacing $rem(-0.6px)
		text-transform inherit
	.content-wrapper
		padding $rem(12px) 0 $rem(50px) 0
	.graph-wrapper
		padding $rem(46px) 0 $rem(50px) 0
		margin-bottom $rem(22px)
		height $rem(452px)
		.table-global
			width $rem(730px)
			margin-left $rem(102px)
			th
				text-align left
				background-color #33627c
				font-size $rem(16px)
				margin $rem(0px)
				&:first-of-type
					letter-spacing $rem(0.3px)
					margin-right $rem(0px)
				&:last-of-type
					letter-spacing $rem(0.8px)
					margin-left $rem(0px)
			tr
				td
					background-color #4c758d
					text-align left
					font-size $rem(13px)
					letter-spacing $rem(1px)
					&:nth-child(2)
						padding-left $rem(56px)
						
				&:nth-child(2n+1)
					td
						background-color #7f9dad

					
	.oblique_item
		padding-top $rem(23px)
		width $rem(752px)
		margin-left $rem(60px)
		.oblique-wrapper
			padding $rem(19px) $rem(48px) $rem(26px) $rem(49px)
			position relative
			obliqueTile(1...2, true, color_brand_yellow)  
			.oblique-tile
				position relative
				left $rem(0)
				line-height $rem(1.3)
				letter-spacing $rem(0.5px)
				p
					padding $rem(10px) $rem(23px) $rem(9px) 0
					font 700 $rem(18px) Arial
					
					color color_brand_gold2
					position relative
				span
					color #ffd200
					font-weight bold
					&:nth-of-type(2)
						padding-right $rem(0px)
				&:before
					content '\2022'
					position absolute
					left $rem(-10px)
					top $rem(0px)

				     