article.slide#StartStrong32APopupSlide
	h1 !{headline}
	h2.sub-header !{lead_paragraph}
	.content
		.left-side
			each item, i in content.left_side
				div(class='row row-' + i)
					.count
						span !{item.line_count}
					.description
						each paragraph in item.line_txt
							p !{paragraph}
				div(class='seperator-line-' + i)
		.right-side
			each item, i in content.right_side
				div(class='row row-' + i)
					ul
						each list in item.list
							li !{list}
				div(class='seperator-line-' + i)
	.oblique-tile
		p !{bottom_side.bottom_title}
