@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'

#RecentInsights19Slide
	.paradigma
		height $rem(148px)
		width $rem(622px)
	.linear-slider
		margin $rem(61px) $rem(51px) 0 0
	.shaped
		shape-outside polygon(0 0, 100% 0%, 55% 100%, 0% 100%)