@import '../../global_styles/color-scheme'
@import '../../global_styles/utils'
@import '../../global_styles/oblique-tile'

#StartStrong34B1PopupSlide
	.fake-menu
		position relative
		height $rem(32px)
		width 92%
		margin  0 0 $rem(17px) $rem(-7px)
		padding-left $rem(107px)
		z-index 2
		obliqueTile(1, true, color_blizzard_blue)
		&:before
			border-image linear-gradient(to right, rgba(color_blizzard_blue, 0.8) , color_blizzard_blue)
			border-image-slice 1
		button
			padding $rem(5px) 0
			height $rem(32px)
			text-transform uppercase
			color color_brand_yellow
			background-color transparent
			font 700 $rem(12px) / 1 Arial
	.sub-text
		margin 0 0 $rem(12px) $rem(100px)
		padding 0
		font-size $rem(13px)
	h1
		margin 0 $rem(115px) $rem(22px) 0
		letter-spacing $rem(0.1px)
	.figure-fragment
		margin 0 $rem(100px) 0 $rem(98px)
		.content-wrapper
			padding $rem(71px) $rem(262px) $rem(39px) $rem(76px)
	figcaption
		width $rem(520px)
	.graph
		height $rem(208px)
		.point_values
			display none
		.block
			&:first-of-type
				background-color transparent
			&:last-of-type
				background-color transparent
	.g-scale-v
		&:before
			margin-right $rem(44px)
		p
			padding-bottom $rem(44px)
		li
			span
				width $rem(40px)
	.g-scale-h
		p
			padding-right 0
	.g-lines
		z-index 2
		.g-line
			.g-line-info
				margin-left $rem(9px)
				p
					font-size $rem(19px)
					letter-spacing $rem(.4px)
				.g-line-value
					position relative
					width $rem(80px)
					&:after
						content ''
						position absolute
						top 0
						right 100%
			&:first-of-type
				background url("assets/images/line2.png")  $rem(7px) 6% / 98.5% auto no-repeat
				.g-line-info
					top $rem(84px)
			&:last-of-type
				background url("assets/images/line1.png") $rem(4px) 12% / 99% auto no-repeat
				.g-line-info
					top $rem(180px)
					.g-line-value
						width $rem(120px)
						background-color color_brand_blue6
						&:after
							width $rem(74px)
							height $rem(53px)
							margin $rem(-2px) 0 0 $rem(13px)
							background url(../../shared/images/vivid-east.png) top left / contain no-repeat
						p
							color color_brand_blue
							font-size $rem(31px)
