include ../../pug_fragments/start-strong-30c-fragment

-
	var
		slideStrings = {
			headline: headline,
			leadText: lead_text,
			graph: Object.assign({}, globals.start_strong_30c_inline_strings.graph, graph)
	}

article#StartStrong30A1PopupSlide.slide
	p.sub-title !{sub_title}
	+buildFragment(slideStrings)